.section.section-voucher-details {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--section-voucher-details-padding);
    background: var(--section-voucher-details-background);
}
