.section.section-faq {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--section-faq-padding);
    background: var(--section-faq-background);
    border-top: 1px solid var(--border-color);
}
