.card-block.card-block-financial {
    .table {
        .table-separator {
            border-bottom: 2px solid #d4d9dd;
        }

        .table-highlight td {
            background: #f6f6f6;
            font-weight: 600;
        }

        .table-highlight-grey td {
            background: #f6f6f6ad;
        }

        tr {
            &.table-totals {
                white-space: nowrap;
                border-top: 3px solid #134478;

                td {
                    font-weight: 600;
                }
            }
        }
    }
}
