.card-block.card-block-schedule {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    gap: 10px;

    .card-block-schedule-title {
        font: 600 14px/24px var(--base-font);
    }
}
