.card-block.card-block-provider {
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding-bottom: 20px;

    .provider-offset {
        float: left;
        display: block;
        width: 70px;
    }

    .provider-img {
        float: left;
        display: block;
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
        border: 1px solid #e7e7e7;
        border-radius: var(--border-radius);
        overflow: hidden;
        background-color: #f1f4f7;

        img {
            width: 100%;
            display: block;
        }
    }

    .provider-details {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;
        gap: 4px;

        .provider-title {
            display: block;
            font: 500 16px/20px var(--base-font);
            color: #151b26;
            transition: 0.4s;
            position: relative;
            cursor: default;
            word-wrap: break-word;
        }

        .provider-subtitle {
            font: 500 12px/16px var(--base-font);
            color: #646f79;
            word-wrap: break-word;
        }
    }

    .provider-actions {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        height: fit-content;
    }

    a.provider-title:hover {
        cursor: pointer;
        color: #9ca6af;
        text-decoration: none;
    }

    &:last-child {
        padding-bottom: 0;
    }
}
