
// Footer
.section {
    &.section-footer {
        background: #ee8016 url(./assets/img/header-frame-after.svg);
        padding: 50px 0 0;
        margin-top: 0;
        color: var(--footer_color);
        display: block;
        a {
            color: var(--footer_color);
            &:hover {
                color: var(--footer_color);
                text-decoration: none;
            }
        }
        .wrapper {
            padding: 40px 50px;
            background-color: var(--footer_background_color);
        }
    }
}

.block {
    &.block-footer {
        .footer-nav {
            a {
                color: var(--footer_color);

                &:hover {
                    color: var(--footer_color);
                }
            }

            .footer-nav-item {
                a {
                    color: var(--footer_color);

                    &:hover {
                        color: var(--footer_color);
                    }
                }
            }
        }

        .footer-label {
            .wrapper {
                padding: 0;
            }
        }
    }
    &.block-copyrights {
        background-color: var(--footer_background_color);
        padding: 40px 0;
        margin-top: 50px;
        align-items: center;
        display: flex;
        justify-content: center;

        .links {
            a {
                color: var(--footer_color);

                &:hover {
                    color: var(--footer_color);
                }
            }
        }

        .developed {
            a {
                color: var(--footer_color);

                &:hover {
                    color: var(--footer_color);
                }
            }
        }
    }
}
