.app {
    flex: 1 0 auto;
    @include webkit_scrollbar(#848588);

    &.app-header {
        padding: 20px 0;
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 1470px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;

        .app-header-row {
            position: relative;
            display: flex;
            flex-direction: row;
        }

        .header-logo {
            float: left;
            padding: 10px 0;

            .header-logo-img {
                display: block;
                height: 40px;
            }
        }

        .header-organization-switcher {
            width: 265px;
            display: flex;
            align-items: center;

            .select-control {
                width: 100%;
            }
        }

        .notifications {
            margin-right: 40px;
            padding-bottom: 0;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .notifications-icons {
                .notifications-icon {
                    color: var(--text-color);
                    background-color: #fff;
                    box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.1);
                    border-radius: 50px;
                    width: 36px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    font-size: 18px;
                    cursor: pointer;
                    transition:
                        background 0.4s,
                        color 0.4s;
                    margin-right: 20px;

                    .mdi {
                        transition: transform 0.4s;
                    }

                    &:hover {
                        background-color: #fafafa;

                        &.notifications-icon-updates {
                            color: #fafafa;
                            background-color: #d91d46;

                            .mdi {
                                transform: rotate(50deg);
                            }
                        }
                    }

                    &.notifications-icon-updates {
                        color: #d91d46;

                        .mdi {
                            transform: rotate(30deg);
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .notifications-menu {
                display: none;
                position: absolute;
                width: 360px;
                top: 100%;
                z-index: 1;
                right: -15px;

                .notifications-menu-inner {
                    background: #ffffff;
                    border-radius: var(--border-radius);
                    box-shadow: 0 10px 25px rgba(#000, 0.15);
                    position: relative;

                    .arrow-box {
                        right: 32.5px;
                        left: auto;
                        transform: scale(0.75);
                    }

                    .notifications-menu-header {
                        border-bottom: 1px solid #d4d9dd;
                        padding: 10px 20px;
                        font: 500 13px/20px var(--base-font);
                        color: #282b39;
                        position: relative;
                        cursor: default;

                        .notifications-menu-header-link {
                            font: 500 13px/20px var(--base-font);
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            transform: translate(0, -50%);
                            cursor: pointer;
                            transition: color 0.4s;

                            .mdi {
                                padding-left: 5px;
                                font-size: 1.15em;
                                line-height: 20px;
                                color: inherit;
                                transition: color 0.4s;
                            }

                            &:hover {
                                color: #009ef4;

                                .mdi {
                                    color: #009ef4;
                                }
                            }
                        }
                    }

                    .notifications-menu-body {
                        max-height: 300px;
                        overflow-y: auto;
                        @include webkit_scrollbar();

                        .notifications-menu-item {
                            padding: 15px 20px;
                            border-bottom: 1px solid #d4d9dd;
                            position: relative;
                            transition: background-color 0.4s;
                            cursor: default;
                            display: flex;
                            flex-direction: row;
                            word-break: break-word;

                            .notifications-menu-item-icon {
                                margin-right: 10px;
                                padding: 2.5px 0;

                                img {
                                    display: block;
                                }
                            }

                            .notifications-menu-item-details {
                                display: flex;
                                flex-direction: column;
                            }

                            .notifications-menu-item-title {
                                font: 700 13px/16px var(--base-font);
                                margin: 0 0 5px;
                                color: #282b39;
                            }

                            .notifications-menu-item-text {
                                font: 500 13px/16px var(--base-font);
                                margin: 0 0 10px;
                                color: #282b39;
                            }

                            .notifications-menu-item-date {
                                font: 500 12px/14px var(--base-font);
                                color: #646f79;

                                .mdi {
                                    line-height: inherit;
                                    margin-right: 3px;
                                }
                            }

                            &.notifications-menu-item-new {
                                background-color: #e4ecf170;
                            }

                            &:last-child {
                                border-bottom: 0;
                            }

                            /* &:hover {
                                background: #f6f8f9;
                            } */
                        }

                        .notifications-menu-empty {
                            cursor: default;
                            padding: 20px 20px;
                            font: 500 13px/16px var(--base-font);
                            color: #282b39;
                            text-align: center;
                        }
                    }
                }
            }

            &.active {
                .notifications-menu {
                    display: block;
                }
            }
        }

        .header-auth {
            float: right;
            position: relative;
            z-index: 1;
            display: flex;

            .auth-user {
                position: relative;
                padding-bottom: 15px;
                margin-bottom: -10px;
                display: flex;
                flex-direction: row;
                cursor: pointer;
                @include cf();

                .auth-user-details {
                    display: flex;
                    flex-direction: column;
                    padding: 5px 10px 5px 0;

                    .auth-user-name {
                        font: 500 14px/20px var(--base-font);
                        color: #151b26;
                        text-align: right;
                    }

                    .auth-user-role {
                        font: 400 12px/20px var(--base-font);
                        color: #151b26;
                        text-align: right;

                        .auth-user-role-separator {
                            font-size: 22px;
                            line-height: inherit;
                            vertical-align: top;
                            color: #a1a1a1;
                            padding: 0 3px;
                        }
                    }
                }

                .auth-user-caret {
                    display: flex;
                    align-items: center;
                    color: #151b26;
                    padding-left: 5px;

                    em {
                        font-size: 20px;
                        font-weight: 600;
                        margin-top: 3px;
                    }

                    @media screen and (max-width: 1000px) {
                        display: none;
                    }
                }

                .auth-user-img {
                    display: block;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background: #fff;
                    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
                }

                .auth-user-menu {
                    position: absolute;
                    right: 0;
                    top: 60px;
                    border: 1px solid #f3f4f5;
                    background: #fff;
                    border-radius: var(--border-radius);
                    box-shadow: 0 5px 30px rgba(#000, 0.1);
                    min-width: 220px;
                    max-width: 80%;
                    padding: 10px 10px;
                    cursor: default;

                    .auth-user-menu-title {
                        text-transform: uppercase;
                        color: #646f79;
                        font: 600 11px/13px var(--base-font);
                        padding: 10px 0 10px 2px;
                    }

                    .auth-user-menu-sep {
                        display: block;
                        border-top: 1px solid #f3f4f5;
                        margin: 10px -10px 10px;
                    }

                    .auth-user-menu-item {
                        display: flex;
                        justify-content: flex-start;
                        cursor: pointer;
                        padding: 0;
                        font: 500 13px/36px var(--base-font);
                        letter-spacing: -0.312px;
                        color: #151b26;
                        transition: 0.4s;

                        .auth-user-menu-item-icon {
                            display: flex;
                            flex: 0 0 32px;
                            width: 32px;
                            height: 36px;
                            margin-right: 4px;

                            svg,
                            img {
                                max-width: 100%;
                                max-height: 100%;
                                object-fit: contain;
                                object-position: center;
                                transition: 0.4s;

                                path {
                                    transition: 0.4s;
                                }
                            }

                            svg {
                                height: 36px;
                            }
                        }

                        &.active {
                            padding-right: 30px;
                            position: relative;
                            color: #004195;

                            .auth-user-menu-item-icon {
                                svg {
                                    path {
                                        fill: #134478;
                                    }
                                }
                            }

                            &:after {
                                content: '';
                                background-image: assetUrl('img/icon-check.svg');
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translate(0, -50%);
                            }
                        }

                        &:hover {
                            text-decoration: none;
                            background: #f6f8f9;
                            color: #004195;

                            .auth-user-menu-item-icon {
                                svg {
                                    path {
                                        fill: #134478;
                                    }
                                }
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.app-container {
        width: 100%;
        max-width: 1470px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 0 auto;
    }

    &.app-sidebar {
        flex: 0 0 260px;
        padding-left: 8px;
        position: relative;

        .sidebar-nav {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding-bottom: 30px;
            position: sticky;
            left: 0;
            top: 15px;

            .sidebar-nav-group {
                display: flex;
                flex-direction: column;
                background: transparent;
                transition: 0.4s;

                .sidebar-nav-group-header {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    border-radius: var(--border-radius);
                    transition: background-color 0.4s;
                    gap: 6px;

                    .sidebar-nav-group-header-icon {
                        display: flex;
                        flex: 0 0 32px;
                        position: relative;

                        svg {
                            display: block;
                        }

                        .sidebar-nav-group-header-icon-default {
                            opacity: 1;
                            transition: opacity 0.4s;
                        }

                        .sidebar-nav-group-header-icon-active {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            transition: opacity 0.4s;
                        }
                    }

                    .sidebar-nav-group-header-title {
                        display: flex;
                        flex: 1 1 auto;
                        font: 500 13px/20px var(--base-font);
                        padding: 6px 0;
                        transition: color 0.4s;
                    }

                    .sidebar-nav-group-header-toggle {
                        display: flex;
                        flex: 0 0 32px;
                        height: 32px;
                        justify-content: center;
                        align-items: center;
                        color: #b0bec5;
                        font-size: 20px;
                        transition: color 0.4s;
                    }

                    &:hover {
                        background: #426993;

                        .sidebar-nav-group-header-icon {
                            .sidebar-nav-group-header-icon-default {
                                opacity: 0;
                            }

                            .sidebar-nav-group-header-icon-active {
                                opacity: 1;
                            }
                        }

                        .sidebar-nav-group-header-title {
                            color: #fff;
                        }

                        .sidebar-nav-group-header-toggle {
                            color: #fff;
                        }
                    }
                }

                .sidebar-nav-group-items {
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 0 14px;
                    border-left: 2px solid var(--border-color);
                    padding: 4px 0;

                    .sidebar-nav-group-item {
                        padding: 5px 10px 5px 22px;
                        font: 500 13px/20px var(--base-font);
                        color: #151b26;
                        text-decoration: none;
                        margin-left: -2px;
                        border-left: 2px solid var(--border-color);

                        &:hover {
                            color: #426993;
                            text-decoration: underline;
                        }

                        &.active {
                            color: #134478;
                            border-left: 2px solid #134478;
                        }
                    }
                }

                &.sidebar-nav-group-active {
                    & > .sidebar-nav-group-header {
                        background: #134478;
                        border-radius: var(--border-radius);

                        .sidebar-nav-group-header-icon {
                            .sidebar-nav-group-header-icon-default {
                                opacity: 0;
                            }

                            .sidebar-nav-group-header-icon-active {
                                opacity: 1;
                            }
                        }

                        .sidebar-nav-group-header-title {
                            color: #fff;
                        }

                        .sidebar-nav-group-header-toggle {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    &.app-content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        min-width: 0;
        padding: 0 0 30px;
    }

    @media screen and (max-width: 1300px) {
        &.app-sidebar {
            width: 240px;
            padding-right: 40px;
        }

        &.app-content {
            width: calc(100% - 240px);
        }
    }

    @media screen and (max-width: 1000px) {
        &.app-header {
            padding: 25px 0;

            .header-logo {
                display: none;
            }
        }

        &.app-sidebar {
            width: 100%;
            margin-bottom: 20px;
            padding: 0;
        }

        &.app-content {
            padding: 0;
            width: 100%;
        }
    }
}
