.modal.modal-fund-help {
    .modal-window {
        .modal-body {
            .modal-fund-help-section {
                gap: 20px;

                .modal-fund-help-section-details {
                    position: relative;
                    padding-left: 20px;

                    .modal-fund-help-section-title {
                        font: 700 18px/30px var(--base-font);
                        margin: 0 0 0;
                        color: var(--tc);
                    }

                    .modal-fund-help-section-description {
                        font: 400 14px/21px var(--base-font);
                        margin: 0 0 0;
                        color: var(--tc-muted);

                        .block-markdown {
                            font: inherit;

                            & > *,
                            p,
                            ul {
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    &:before {
                        content: '';
                        height: 100%;
                        width: 3px;
                        background: #9ca6af;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                .modal-fund-help-pane {
                    display: flex;
                    row-gap: 25px;
                    padding: 25px;
                    flex-wrap: wrap;
                    box-shadow: none;
                    border: 1px solid var(--border-color);
                    border-radius: var(--border-radius);

                    .modal-fund-help-pane-item {
                        display: flex;
                        flex: 1 1 50%;
                        align-items: center;
                        gap: 15px;

                        .modal-fund-help-pane-icon {
                            display: flex;
                            border-radius: 50%;
                            background: #f4f5f7;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            height: 50px;

                            svg {
                                display: block;
                                width: 28px;
                                height: 28px;
                            }
                        }

                        .modal-fund-help-pane-content {
                            .modal-fund-help-pane-title {
                                color: #353535;
                                font: 400 13px/18px var(--base-font);
                                white-space: nowrap;
                            }

                            .modal-fund-help-pane-subtitle {
                                color: #222;
                                font: 600 14px/21px var(--base-font);
                                white-space: nowrap;

                                a {
                                    font: inherit;

                                    &.link {
                                        color: #004d93;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }

                @media (max-width: 960px) {
                    gap: 15px;

                    .modal-fund-help-section-details {
                        padding-left: 15px;

                        .modal-fund-help-section-title {
                            font: 700 16px/24px var(--base-font);
                            margin-bottom: 10px;
                        }

                        .modal-fund-help-section-description {
                            font: 400 13px/18px var(--base-font);
                        }
                    }

                    .modal-fund-help-pane {
                        padding: 20px;
                        gap: 20px;

                        .modal-fund-help-pane-item {
                            gap: 12px;

                            .modal-fund-help-pane-icon {
                                width: 30px;
                                height: 30px;

                                svg {
                                    width: 16px;
                                    height: 16px;
                                }
                            }

                            .modal-fund-help-pane-content {
                                .modal-fund-help-pane-title {
                                    font: 400 13px/18px var(--base-font);
                                }

                                .modal-fund-help-pane-subtitle {
                                    font: 600 13px/18px var(--base-font);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
