.text-primary {
    color: #666 !important;
}

.block {
    @media screen and (max-width: 1000px) {
        &.block-navbar {
            .navbar-logo {
                img {
                    display: none;

                    &.hover {
                        display: block;
                    }
                }
            }
        }
    }
}

.section {
    &.section-faq {
        .faq {
            margin: 0;

            .faq-item {
                .faq-item-header {
                    color: #4990B5 !important;

                    .faq-item-title {
                        color: #666;
                    }

                    .faq-item-chevron-up,
                    .faq-item-chevron-down {
                        color: #4990B5 !important;
                    }
                }

                &:hover:not(.active) {
                    .faq-item-header {
                        color: #4990B5 !important;

                        .faq-item-chevron-up,
                        .faq-item-chevron-down {
                            color: #4990B5 !important;
                        }
                    }
                }
            }
        }
    }
}

.block {
    &.block-markdown {
        margin-bottom: 50px;
    }

    &.block-pane {    
        .pane-head {
            .pane-head-count {
                color: #666;
            }
        }
    }
}