.block {
    &.block-copyrights{
        .links{
            a {
                color: #ffffff;
            }
        } 
    }
}

@media screen and (min-width: 1000px) {
    .section {
        &.section-header {
            .header-content {
                padding: 80px 80px;
                background-color: #004680;
            }
        }
    }
}