.block.block-reservation-address {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .address-overview {
        display: flex;
        flex-direction: row;
        padding: 15px;
        border-bottom: 1px solid var(--border-color);
        gap: 12px;
        align-items: center;

        .address-overview-icon {
            flex: 0 0 42px;
            display: flex;
            background: var(--color-primary);
            border: 1px solid var(--color-primary);
            border-radius: var(--border-radius);
            color: #fff;
            line-height: 42px;
            justify-content: center;
            align-items: center;
            font-size: 24px;
        }

        .address-overview-details {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            .address-overview-details-title {
                font: 700 16px/22px var(--base-font);
                margin: 0 0;
            }

            .address-overview-details-subtitle {
                font: 400 13px/20px var(--base-font);
                margin: 0 0;
            }
        }

        .address-overview-actions {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &:last-child {
            border-bottom: none;
        }

        &.address-overview-edit {
            .address-overview-icon {
                background: #fbfbfb;
                color: var(--text-color);
                border: 1px solid var(--border-color);
            }
        }
    }

    .address-form {
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-bottom: 1px solid var(--border-color);
        background: #fbfbfb;

        .address-form-title {
            font: 600 16px/26px var(--base-font);
            margin: 0 0 5px;
        }

        &:first-child {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }

        &:last-child {
            border-bottom: none;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }
    }

    .address-actions {
        display: flex;
        flex-direction: row;
        padding: 15px;
    }
}
