.block.block-lang-control {
    border: 1px solid var(--border-color);
    z-index: 12;
    border-radius: var(--border-radius);

    .lang-control-input {
        position: relative;
        gap: 5px;
        color: #282b39;

        .lang-control-search {
            display: flex;
            flex-direction: row;
            gap: 4px;
            font: 600 14px/20px var(--base-font);
            color: #282b39;
            padding: 6px 6px;
            cursor: pointer;

            .mdi {
                height: 20px;
                font-size: 18px;
                line-height: 20px;
            }

            .lang-control-search-icon {
                margin-right: 2px;
            }
        }

        .lang-control-options {
            position: absolute;
            top: calc(100% + 2px);
            right: 0;
            background: #fff;
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            z-index: 2;
            width: 230px;
            max-width: 90vw;

            .lang-control-option {
                outline-offset: -2px !important;
                font: 600 13px/20px var(--base-font);
                padding: 8px 10px;
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
                justify-content: flex-start;
                border-bottom: 1px solid var(--border-color);
                cursor: pointer;

                .lang-control-option-separator {
                    width: 1px;
                    height: 8px;
                    background: var(--border-color);
                }

                .lang-control-option-name {
                    flex: 1 1 auto;
                }

                .lang-control-option-check {
                    font-size: 18px;
                    line-height: 20px;
                    height: 20px;
                }

                &:last-child {
                    border-bottom: none;
                }

                &:hover,
                &:focus {
                    background-color: #e5e5e5;
                    color: #282b39;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        position: absolute;
        top: 8px;
        right: 60px;
        border: 1px solid transparent;

        .lang-control-input {
            .lang-control-search {
                padding: 6px 0;
                gap: 2px;
            }
        }
    }
}
