.modal.modal-fund-offers {
    .modal-window {
        width: 1400px;

        .modal-section {
            .table {
                td {
                    &:last-child {
                        width: 150px;
                    }
                }
            }
        }
    }
}
