.modal.modal-voucher_qr {
    .modal-window {
        width: 540px;

        .form {
            width: 380px;
            max-width: 100%;
            margin: 0 auto;
        }

        .voucher_qr-block {
            .voucher_qr-title {
                color: #282b39;
                font: 600 16px var(--base-font);
                text-align: center;
                margin: 0 0 20px;
            }

            .voucher_qr-actions {
                width: 300px;
                max-width: 100%;
                margin: 0 auto;
            }

            .block.block-qr-code {
                width: 170px;
                margin: 0 auto 20px;

                .qr_code {
                    width: 100%;
                    background: #fff;
                    padding: 10px;
                    height: 100%;
                    border: 1px solid var(--border-color);
                    box-shadow: 0 2px 4px 1px rgba($color: #000000, $alpha: 0.05);

                    img,
                    canvas {
                        width: 100%;
                    }
                }
            }
        }
    }
}
