.modal {
    @include fill_parent();
    position: fixed;
    z-index: 20;
    display: flex;
    align-items: center;
    cursor: default;

    .modal-backdrop {
        @include fill_parent();
        cursor: pointer;
        background: rgba(#192734, 0.5);
    }

    .modal-icon {
        transform: translate(0, -50%);
        text-align: center;
        width: 75px;
        height: 75px;
        border-radius: 75px;
        line-height: 69px;
        font-size: 36px;
        border: 3px solid #fff;
        background: var(--color-primary-light);
        color: #fff;
        margin: 0 auto -45px;

        &.modal-icon-primary {
            background: var(--color-primary);
        }
    }

    .modal-separator {
        margin: 0 0 20px;
        padding: 20px 0 0;
        border-bottom: 1px solid var(--border-color);
    }

    .modal-window {
        position: relative;
        z-index: 2;
        background: #f6f9fc;
        width: 1200px;
        max-width: 100%;
        border-radius: calc(var(--border-radius));
        min-height: 100px;
        margin: 0 auto;
        max-height: 90vh;
        display: flex;
        flex-direction: column;

        .modal-section {
            padding: 30px;
        }

        .modal-close {
            position: absolute;
            font-size: 24px;
            right: 20px;
            top: 20px;
            display: block;
            cursor: pointer;
            color: #222;
            transition: color 0.4s;
            z-index: 1;
        }

        .modal-header {
            background: #fff;
            padding: 15px 25px;
            font: 600 16px/25px var(--base-font);
            border-bottom: 1px solid #d4d9dd;
            position: relative;
            border-radius: 3px 3px 0 0;

            &.modal-header-compact {
                padding: 10px 25px;
            }
        }

        .modal-body {
            min-height: 20px;
            overflow: auto;
            position: relative;
            @include webkit_scrollbar();

            .signup-layout {
                padding-top: 0;
            }

            .modal-icon-mdi {
                width: 50px;
                height: 50px;
                line-height: 50px;
                border-radius: 50%;
                font-size: 24px;
                position: relative;
                color: var(--color-primary-light);
                margin: 0 auto 15px;

                &:after {
                    content: '';
                    background-color: var(--color-primary-light);
                    border-radius: 50%;
                    opacity: 0.1;
                    @include fill_parent();
                }
            }

            .modal-section {
                padding: 25px;
                border-bottom: 1px solid #d4d9dd;
                @include cf();

                .modal-section-separator {
                    display: block;
                    padding: 0 0 0;
                    margin: 0 0 20px;
                    border-bottom: 1px solid var(--border-color);
                }

                .modal-section-column {
                    padding: 25px 25px;
                    margin: -25px 0;
                    float: left;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    &:not(:last-child) {
                        border-right: 1px solid var(--border-color);
                    }

                    &.modal-section-column-2 {
                        width: calc(100% / 3);
                    }

                    &.modal-section-column-4 {
                        width: (calc(100% / 3) * 2);
                    }

                    &.modal-section-column-6 {
                        width: 100%;
                    }
                }

                &:last-child {
                    border-bottom: 0;
                }

                &.modal-section-light {
                    background-color: #fff;
                }

                &.modal-section-pad {
                    padding: 25px 40px;

                    .modal-section-column {
                        padding: 25px 40px;
                        margin: -25px 0;
                        float: left;
                    }
                }

                &.modal-section-sm {
                    padding: 20px;

                    .modal-section-column {
                        padding: 20px 20px;
                        margin: -20px 0;
                        float: left;
                    }
                }

                &.modal-section-compact {
                    padding: 10px 20px;
                }

                &.modal-section-collapse {
                    padding: 0;
                }
            }

            .modal-info {
                padding: 0 50px 0 100px;
                position: relative;
                color: #282b39;
                font: 400 13px/20px var(--base-font);
                cursor: default;

                .mdi {
                    position: absolute;
                    left: 75px;
                    top: 0;
                    color: var(--color-primary);
                    font-size: 1.35em;
                    line-height: 20px;
                }
            }

            .modal-funds-added {
                text-align: center;

                p {
                    font: 400 14px/22px var(--base-font);
                    color: #282b39;
                    margin-bottom: 24px;

                    .text-primary {
                        font-weight: 600;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .funds-amount {
                    font: 600 13px/21px var(--base-font);
                    color: var(--color-primary);
                    margin-bottom: 25px;
                    background: #ffffff;
                    border: 1px dashed #d4d9dd;
                    padding: 10px 50px;
                    display: inline-block;
                    border-radius: 10px;

                    .funds-amount-sum {
                        font: 600 22px var(--base-font);
                        color: #009ef4;
                    }
                }
            }

            .modal-icon-rounded {
                display: flex;
                margin: 0 0 20px;
                flex-direction: row;
                justify-content: center;

                img {
                    background: #fff;
                    border-radius: 50%;
                    box-shadow: 0 7px 15px rgba(#000, 0.1);
                    flex: 0 0 30px;
                    padding: 15px;
                    display: flex;
                    width: 80px;
                }
            }

            &.modal-body-visible {
                overflow: visible;
            }
        }

        .modal-footer {
            background: #fff;
            padding: 20px 25px;
            border-radius: 0 0 3px 3px;
        }

        .modal-hero {
            text-align: center;
            padding: 30px 30px 20px;
            cursor: default;

            .hero-icon {
                line-height: 65px;
                margin: 0 auto 0;
                font-size: 60px;

                .mdi {
                    color: #134478;
                }
            }

            .hero-title {
                font: 600 16px/20px var(--base-font);
                margin: 0 0 10px;
            }

            .hero-subtitle {
                font: 400 14px/20px var(--base-font);
                margin: 0 0 0;
                color: #646f79;
            }
        }
    }

    .modal-body {
        border-bottom: 1px solid var(--border-color);

        .modal-section {
            padding: 30px;

            .modal-footer {
                padding: 30px 0 0;
            }

            .modal-heading-icon {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 20px;

                .mdi {
                    font-size: 100px;
                    display: flex;
                    line-height: initial;
                }
            }

            .modal-heading {
                font: 600 16px/26px var(--base-font);
                color: #282b39;
                margin: 0 0 10px;
            }

            .modal-text {
                font: 500 14px/22px var(--base-font);
                color: #646f79;
                margin: 0 0 20px;

                small {
                    line-height: 20px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .modal-warning {
                display: flex;
                justify-content: center;
                width: fit-content;
                margin: 0 auto 10px auto;
                padding: 20px;
                background-color: #fcfaf6;
                font: 500 13px/16px var(--base-font);
                color: #292b39;
                border: 1px solid var(--border-color);
                border-radius: var(--border-radius);

                em {
                    font-size: 22px;
                }
            }
        }

        .modal-funds-added {
            text-align: center;

            p {
                font: 400 14px/22px var(--base-font);
                color: #282b39;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        .modal-fields-groups {
            .modal-fields-group {
                border-bottom: 1px solid var(--border-color);
                padding: 15px 0;

                .modal-fields-group-title {
                    display: flex;
                    color: #282b39;
                    font: 600 13px/24px var(--base-font);
                    align-items: center;
                    cursor: pointer;

                    .mdi {
                        font-size: 24px;
                        color: #646f79;
                        height: 24px;
                        margin-left: -5px;
                    }
                }

                .modal-fields-list {
                    padding-top: 15px;
                }

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }

        .modal-processing {
            display: flex;
            background: #f6f9fc;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;

            .mdi {
                font-size: 40px;
                display: flex;
                opacity: 0.5;
                color: var(--color-primary);
            }
        }

        &:last-child {
            border-bottom: none;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }
    }

    .modal-footer {
        padding: 20px 30px;
        display: flex;
        justify-content: center;

        .footer-text {
            font: 500 18px var(--base-font);
            color: #151b26;
            margin-bottom: 20px;
        }

        .modal-footer-link {
            display: block;
            color: var(--color-primary);
            font: 700 13px/30px var(--base-font);

            span {
                display: block;
                width: 40px;
                float: left;
            }
        }

        &.modal-footer-light {
            background-color: #fff;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }

        &.no-border {
            border: 0 !important;
        }
    }

    &.modal-lg {
        .modal-window {
            width: 960px;
        }
    }

    &.modal-md {
        .modal-window {
            width: 740px;
        }
    }

    &.modal-sm {
        .modal-window {
            width: 480px;
        }
    }

    &.modal-animated {
        .modal-backdrop,
        .modal-window {
            opacity: 1;
            transition: 0.25s ease-in;
        }

        .modal-window {
            opacity: 1;
            transform: scale(1, 1);
            filter: blur(0px);
        }

        &.modal-loading {
            .modal-backdrop,
            .modal-window {
                opacity: 0;
                transition: 0.25s ease-out;
            }

            .modal-backdrop {
                pointer-events: none;
            }

            .modal-window {
                transform: scale(1.2, 1.2);
                filter: blur(2.5px);
            }
        }
    }

    @media screen and (max-width: 1800px) {
        .modal-footer {
            padding: 25px;
        }
    }

    @media screen and (max-width: 1500px) {
        .modal-footer {
            padding: 20px;

            .footer-text {
                font: 500 15px var(--base-font);
                margin: 0 0 15px;
            }

            .modal-footer-link {
                font: 700 12px/26px var(--base-font);
            }
        }
    }

    @media screen and (max-width: 1000px) {
        border: none;

        .modal-close {
            top: 20px;
            right: 20px;
        }
    }
}
