.show-sm {
    display: none !important;
}

.mdi-close {
    float: right;
    cursor: pointer;
}

.form {
    .form-error {
        font: 400 13px/24px var(--base-font-landing);
        color: var(--base-color);
        margin: 0;
    }

    .form-label {
        display: block;
        cursor: default;
        font: 700 12px/20px var(--base-font-landing);
        margin-bottom: 4px;
        padding: 0;
        color: #134478;

        &.form-label-required {
            &:after {
                content: '*';
                color: #ff5548;
                font: inherit;
                margin-left: 2px;
            }
        }
    }

    .form-control:not([type='radio']):not([type='checkbox']) {
        width: 100%;
        padding: 14px 15px;
        height: 50px;
        color: rgba(#00122a, 0.9);
        font: 600 17px/24px var(--base-font-landing);
        line-height: 24px !important;
        transition:
            background-color 0.4s ease,
            border 0.4s ease;
        border-radius: 6px;
        appearance: none;
        background-color: #eaf0f6;
        border: 1px solid #dfe4ec;

        &[disabled] {
            background-color: #fbfbfa;
        }

        &[type='number'] {
            padding-right: 0;
        }

        &:focus {
            outline: none;
            background-color: #fbfbfb;
            border: 1px solid #bababa;
        }

        &.form-control-fancy {
            box-shadow: 0 10px 20px rgba(#000, 0.075);
            border: 1px solid transparent;
            transition: 0.4s;
            padding: 14px 25px;
            color: #00122a;
            height: 60px;
            background-color: #fff;

            &:hover,
            &:focus {
                box-shadow: 0 10px 30px rgba(#000, 0.15);
            }
        }

        &.form-control-filled {
            position: relative;

            .mdi {
                position: absolute;
                z-index: 1;
                left: 20px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
    }

    .form-control-checked + .form-control {
        padding-left: 50px !important;
    }

    .form-control-checked {
        position: relative;

        .mdi {
            position: absolute;
            line-height: 50px;
            padding: 0 15px;
            font-size: 25px;
            color: #305dfb;
        }
    }

    .form-control ~ .form-control {
        margin-top: 10px;
    }

    textarea.form-control:not([type='radio']):not([type='checkbox']) {
        padding: 6px 10px;
        line-height: initial;
        height: 80px;

        &.r-n {
            resize: none;
        }

        &.r-v {
            resize: vertical;
        }

        &.r-h {
            resize: horizontal;
        }

        &[disabled] {
            background-color: #fbfbfa;
        }
    }

    select.form-control {
        background-image: assetUrl('img/select-bg.png');
        background-position: 99%;
        background-repeat: no-repeat;
        background-size: 35px;
        appearance: none;
        text-indent: 1px;
        text-overflow: '';
        padding-right: 30px;
        appearance: none;

        &::-ms-expand {
            display: none;
        }
    }

    .form-group {
        margin-bottom: 10px;
        @include cf();
    }

    .checkbox {
        display: inline-block;
        padding: 10px 15px 10px 30px;
        vertical-align: middle;
        @include cf();

        .checkbox-box {
            float: left;
            display: block;
            width: 20px;
            height: 20px;
            min-width: 20px;
            min-height: 20px;
            border: 2px solid #cbd6e2;
            position: relative;
            margin-right: 5px;
            margin-left: -30px;
            float: left;

            .mdi {
                color: #262626;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                font-size: 18px;
                transition: 0.4s;
                opacity: 0;
            }
        }

        .checkbox-label {
            font: 400 13px/20px var(--base-font-landing);
            color: #45535e;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        input[type='checkbox']:checked + .checkbox-label {
            .checkbox-box {
                .mdi {
                    opacity: 1;
                }
            }
        }

        &.checkbox-narrow {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .radio {
        margin-bottom: 10px;
        display: inline-block;
        padding: 10px 15px 10px 30px;
        vertical-align: middle;
        @include cf();

        .radio-circle {
            float: left;
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid #cbd6e2;
            position: relative;
            margin-right: 5px;
            float: left;
            border-radius: 20px;
            margin-left: -30px;

            &:after {
                content: '';
                background: var(--base-color);
                position: absolute;
                display: block;
                left: 50%;
                top: 50%;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                transform: translate3d(-50%, -50%, 0);
                font-size: 18px;
                transition: 0.4s;
                opacity: 0;
            }
        }

        .radio-label {
            font: 400 13px/20px var(--base-font-landing);
            color: #45535e;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        input[type='radio']:checked + .radio-label {
            .radio-circle {
                &:after {
                    opacity: 1;
                }
            }
        }

        &.radio-narrow {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    label.radio {
        cursor: pointer;
        margin-right: 8px;
        color: var(--text-color);
        text-transform: inherit;
        font: 400 12px/30px var(--base-font-landing);

        .dot {
            display: inline-block;
            vertical-align: middle;
            line-height: inherit;
            height: 20px;
            width: 20px;
            border: 2px solid #d8d8d8;
            position: relative;
            margin-right: 8px;
            border-radius: 20px;

            &:before {
                content: '';
                position: absolute;
                left: 3px;
                top: 3px;
                width: 10px;
                height: 10px;
                display: block;
                background-color: var(--base-color);
                border-radius: 20px;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
        }

        input {
            display: none;
        }

        &:hover {
            .dot {
                &:before {
                    opacity: 0.25;
                }
            }
        }

        &[checked],
        &.checked {
            .dot {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}

.button {
    font: 700 14px/24px var(--base-font-landing);
    color: #646f79;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 12px 25px;
    transition:
        color 0.4s,
        background 0.4s,
        box-shadow 0.4s,
        border 0.4s;
    border-radius: 6px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;

    .mdi {
        font-size: 1.4em;
        line-height: inherit;
        margin-right: 5px;
        float: left;
        transition: 0.4s;
    }

    img {
        float: left;
        display: block;
        margin: -1px 5px -1px 0;
        transition: 0.4s;
    }

    &.button-default {
        color: var(--base-color);
        border: 1px solid var(--base-color);
        box-shadow: 0 10px 25px rgba(#000, 0);

        .mdi {
            color: var(--base-color);
        }

        &:hover {
            color: var(--base-color-hover);
            background: var(--base-color);
            border-color: var(--base-color);
            box-shadow: 0 10px 20px rgba(#000, 0.2);

            .mdi {
                color: #fff;
            }
        }
    }

    &.button-primary {
        color: #fff;
        background: var(--base-color);
        border: 1px solid var(--border-color);
        box-shadow: none;

        &:hover {
            color: var(--base-color);
            background: var(--base-color-hover);
            box-shadow: none;
            border: 1px solid var(--base-color);

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-dark {
        color: #fff;
        background: #282b39;
        border: 1px solid #282b39;
        box-shadow: 0 10px 25px rgba(#000, 0.15);

        &:hover {
            color: #fff;
            background: #646f79;
            border-color: #646f79;
            box-shadow: 0 10px 20px rgba(#000, 0.3);

            img {
                filter: brightness(5);
            }
        }
    }

    &.button-primary-outline {
        color: var(--color-primary);
        border: var(--color-default-light);
        border-radius: 50px;

        &:hover {
            background: var(--color-default);
            color: #fff;
        }
    }

    &.button-wide,
    &.button-wide {
        width: 100%;
    }

    &.button-slim {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
    }

    &:last-child,
    &:last-of-type {
        margin-right: 0;
    }
}

.block {
    &.block-show-more {
        text-align: center;
        padding: 20px 0 0;

        .button {
            padding-left: 100px;
            padding-right: 100px;
        }
    }

    &.block-blogs {
        margin: 0 -45px 30px;
        display: block;
        @include cf();

        .blog-item {
            margin: 0 0 50px;
            padding: 0 45px;
            display: block;
            width: 33.333%;
            float: left;

            .blog-image {
                border-radius: 15px 15px 0 0;
                overflow: hidden;
                display: block;
                margin: 40px 40px 20px;
                position: relative;

                img {
                    display: block;
                    width: 100%;
                }

                &:after {
                    content: '';
                    background: #394260;
                    opacity: 0;
                    @include fill_parent();
                    transition: opacity 0.4s;
                }
            }

            .blog-name {
                color: #00122a;
                font: 700 18px/26px var(--base-font-landing);
                margin: 0 0 20px;
                transition: 0.4s;
            }

            .blog-read-more {
                font: 500 13px var(--base-font-landing);
                color: #004195;
            }

            .blog-item-inner {
                transition:
                    box-shadow 0.4s,
                    transform 0.4s;
                display: block;
                background: #fff;
                padding: 30px;
                border-radius: 15px;
                position: relative;
                transform: translate(0, 0);
                box-shadow: 0 10px 25px rgba(#000000, 0.05);
                @include cf();

                &:hover {
                    box-shadow: 0 25px 40px rgba(#000, 0.15);
                    transform: translate(0, -5px);

                    .blog-name {
                        color: #004195;
                    }

                    .blog-image {
                        &:after {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    &.block-contact_form {
        padding: 240px 0 120px;
        position: relative;
        z-index: 1;

        .contact-title {
            color: #fff;
            font: 700 60px/60px var(--base-font-landing);
            margin-bottom: 60px;
        }

        .contact-form {
            background-color: #fff;
            border-radius: 8px;
            padding: 50px 70px;
            box-shadow: 0 5px 40px rgba(#000, 0.1);
            position: relative;

            .button {
                padding-left: 100px;
                padding-right: 100px;
            }

            .contact-logo {
                width: 240px;
                max-width: 100%;
                padding-top: 30px;
                margin-bottom: 40px;

                img {
                    display: block;
                    width: 100%;
                }
            }

            .contact-details {
                .contact-label {
                    color: #003366;
                    font: 700 14px var(--base-font-landing);
                    margin-bottom: 5px;
                }

                .contact-address {
                    color: #191919;
                    font: 400 18px/30px var(--base-font-landing);
                }

                .contact-email {
                    color: #00a5fe;
                    font: 400 18px/30px var(--base-font-landing);
                    margin-bottom: 20px;
                }

                .contact-socials {
                    padding-top: 20px;
                    @include cf();

                    .contact-social {
                        display: block;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #d2e6ff;
                        background: #fff;
                        border-radius: 40px;
                        text-align: center;
                        line-height: 38px;
                        font-size: 20px;
                        box-shadow: 0 5px 10px rgba(#000, 0.1);
                        float: left;
                        margin-right: 15px;
                        margin-bottom: 10px;

                        &:last-of-type {
                            margin-right: 0;
                        }

                        &:nth-child(0n + 1) {
                            .mdi {
                                color: #3c5998;
                            }
                        }

                        &:nth-child(0n + 2) {
                            .mdi {
                                color: #00aced;
                            }
                        }

                        &:nth-child(0n + 3) {
                            .mdi {
                                color: #017bb5;
                            }
                        }

                        &:nth-child(0n + 4) {
                            .mdi {
                                color: #de4e3c;
                            }
                        }
                    }
                }
            }

            &:after {
                content: '';
                position: absolute;
                width: 130px;
                height: 210px;
                right: 0;
                top: -100px;
                display: block;
                background: assetUrl('img/landing/sprite-girl.png') no-repeat;
                background-size: contain;
            }
        }
    }

    &.block-footer {
        margin-bottom: 40px;

        .footer-logo {
            width: 140px;
            max-width: 100%;
            margin-bottom: 30px;
        }

        .footer-nav {
            .footer-nav-item {
                display: block;
                margin-bottom: 10px;

                a {
                    color: #004195;
                    font: 700 14px/24px var(--base-font-landing);
                    transition: color 0.4s;

                    &:hover {
                        color: #2987fd;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .footer-subscribe {
            position: relative;

            .button {
                position: absolute;
                right: 0;
                top: 0;
                height: 60px;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }
    }

    &.block-app_download {
        .download-button {
            /*display: block;
            background: #fff;
            box-shadow: 0 0 30px rgba(#000, .15);
            border-radius: var(--border-radius);
            padding: 10px;
            padding-right: 65px;
            position: relative;
            height: 60px;*/
            width: 240px;
            max-width: 100%;
            margin-bottom: 10px;
            /*text-align: center;*/

            .download-label {
                font: 400 12px var(--base-font-landing);
                color: #646f79;
            }

            .download-value {
                font: 700 16px var(--base-font-landing);
                color: #282b39;
            }

            .download-icon {
                /*position: absolute;
                right: 0;
                top: 0;
                width: 65px;
                height: 100%;
                background-color: #f4f4f4;*/

                img {
                    /*display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);*/
                    width: 100%;
                }
            }
        }
    }

    &.block-copyrights {
        width: 100%;
        border-top: 1px solid #d7e9ed;
        padding: 40px 0;
        text-align: center;
        font: 400 14px/30px var(--base-font-landing);

        .wrapper {
            height: 30px;
            @include cf();
        }

        .copyrights {
            float: left;
            font: inherit;
            color: #282b39;
        }

        .links {
            display: inline-block;

            .link-separator {
                height: 30px;
                border-left: 1px solid #d2e6ff;
                margin-right: 30px;
                display: block;
                float: left;

                &:last-child {
                    margin-right: 0;
                }
            }

            a {
                float: left;
                font: inherit;
                color: #004195;
                margin-right: 30px;
                display: block;
                transition: 0.4s;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: #2987fd;
                }
            }
        }
    }

    &.block-auth-type {
        font-size: 0;
        padding: 0 0 20px;
        text-align: center;
        @include cf();

        .auth_type-item {
            display: inline-block;
            width: 340px;
            max-width: 50%;
            padding: 0 30px;

            .auth_type-icon {
                padding: 50px 0;
                background: #ffffff;
                border-radius: 10px;
                box-shadow: 0 10px 40px rgba(#000, 0.04);
                margin-bottom: 30px;
                transform: translate(0, 0);
                transition: 0.4s;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            .auth_type-name {
                font: 700 18px var(--base-font-landing);
                color: #282b39;
                transition: 0.4s;
            }

            .auth_type-item-inner {
                width: 100%;
                cursor: pointer;

                &:hover {
                    .auth_type-icon {
                        transform: translate(0, -10px);
                        box-shadow: 0 10px 60px rgba(#000, 0.15);
                    }

                    .auth_type-name {
                        color: #004195;
                    }
                }
            }
        }
    }

    &.block-qr-code {
        width: 100%;
        padding-bottom: 20px;

        .qr_code {
            width: 280px;
            height: 280px;
            padding: 20px;
            background: #fff;
            margin: auto;
            border-radius: 15px;
            box-shadow: 0 5px 35px rgba(#000, 0.075);

            img,
            canvas {
                display: block;
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1500px) {
        &.block-blogs {
            margin: 0 -15px 30px;

            .blog-item {
                padding: 0 15px;
            }
        }

        &.block-auth-type {
            .auth_type-item {
                .auth_type-icon {
                    padding: 40px 0;
                    margin-bottom: 20px;

                    img {
                        width: 100px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-show-more {
            .button {
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &.block-blogs {
            margin: 0 -25px 20px;

            .blog-item {
                width: 100%;
                margin: 0 0 30px;
                padding: 0 25px;

                .blog-item-inner {
                    border-radius: 8px;
                    box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.1);

                    .blog-image {
                        border-top-left-radius: inherit;
                        border-top-right-radius: inherit;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.block-contact_form {
            padding: 40px 0 0;

            .contact-title {
                color: var(--text-color);
                position: relative;
                z-index: 2;
                margin: 0 0 10px;
                font: 700 32px/46px var(--base-font-landing);
                padding: 0 25px;
            }

            .contact-form {
                padding: 30px 25px;
                border-radius: 0;

                .contact-logo {
                    width: 50%;
                    padding: 0;
                    margin: 0 0 20px;
                }

                .contact-details {
                    .contact-label {
                        margin: 0 0 10px;
                    }

                    .contact-address {
                        font: 400 14px/24px var(--base-font-landing);
                        margin: 0 0 5px;
                    }

                    .contact-email {
                        font: 400 14px/24px var(--base-font-landing);
                        margin: 0 0 5px;
                    }

                    .contact-socials {
                        padding: 0;
                        margin: 0 0 20px;
                    }
                }

                .button {
                    width: 100%;
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
        }

        &.block-footer {
            margin: 0 0 20px;

            .footer-logo {
                margin: 0 0 20px;
            }

            .footer-subscribe {
                .button {
                    height: 50px;
                    padding-left: 20px;
                    padding-right: 20px;

                    .mdi {
                        font-size: 24px;
                    }
                }
            }
        }

        &.block-copyrights {
            padding: 20px 0;
            text-align: center;

            .wrapper {
                height: auto;
            }

            .copyrights {
                width: 100%;
            }

            .links {
                width: 100%;

                a {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }

                .link-separator {
                    display: none;
                }
            }
        }

        &.block-app_download {
            margin: 0 0 20px;

            .download-button {
                width: 100%;
            }
        }

        &.block-auth-type {
            margin: 0 0 10px;

            .auth_type-item {
                padding: 0 10px;
                width: 50%;

                .auth_type-item-inner {
                    .auth_type-icon {
                        padding: 20px;
                        margin: 0 0 20px;

                        img {
                            width: 100%;
                        }
                    }

                    .auth_type-name {
                        font: 700 12px var(--base-font-landing);
                        @include ellipsis();
                        margin: 0 -10px;
                    }
                }
            }
        }
    }
}

.app-instruction {
    text-align: center;

    .step-item {
        position: relative;
        padding: 50px 80px;
        width: 400px;
        margin: 0 auto;
        display: inline-block;

        img {
            &:not(.line-item) {
                width: 100%;
                border: 2px dashed #d2e6ff;
                border-radius: var(--border-radius);
                box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
                position: relative;
                z-index: 1;
            }

            &.line-item {
                position: absolute;

                top: 200px;
                left: calc(100% - 80px);
                min-width: 70px;
                z-index: 2;
            }
        }

        .app-title {
            font: 500 13px/24px var(--base-font-landing);
            padding: 5px 0 15px 0;
            text-align: center;
        }
    }

    .divider-img {
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1500px) {
    .wrapper {
        width: 1100px;
    }

    .app-instruction {
        .step-item {
            padding: 50px 80px;
            width: 400px;

            img {
                &.line-item {
                    top: 140px;
                    width: 170px;
                    left: calc(100% - 85px);
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .hide-sm {
        display: none !important;
    }

    .show-sm {
        display: block !important;
    }

    .sm-pull-left {
        float: left !important;
    }

    .wrapper {
        padding: 0 25px;
    }

    .label {
        padding: 0 10px;
        font: 700 11px/22px var(--base-font-landing);
    }

    .button {
        &.button-primary {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        }
    }

    .form {
        .form-control:not([type='radio']):not([type='checkbox']),
        .form-control:not([type='radio']):not([type='checkbox']).form-control-fancy {
            height: 50px;
            padding: 5px 15px;
            font: 400 15px/24px var(--base-font-landing);
        }
    }

    .app-instruction {
        .divider-img {
            width: auto;
            padding-top: 10px;
            margin: 0 -25px 10px;
        }

        .step-item {
            padding: 50px 80px;
            width: 50%;
            padding: 0 30px;
            vertical-align: top;

            .app-title {
                font-size: 13px;
                margin: 0 -30px;
            }

            img {
                &.line-item {
                    display: none;
                }
            }
        }
    }
}
