table.table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 20px;

    tr {
        text-align: left;

        td,
        th {
            padding: 15px 15px;
            cursor: default;
            border-bottom: 1px solid #d4d9dd;
            background: #fff;
            transition: 0.3s;

            & > a {
                font: inherit;
            }

            &.cell-chevron,
            &.cell-chevron {
                width: 1px;
                padding: 10px 10px;
                padding-left: 15px;
                padding-right: 0;
            }
        }

        th {
            color: #646f79;
            padding-top: 10px;
            padding-bottom: 10px;
            font: 700 12px/20px var(--base-font);

            &:first-child {
                padding-left: 25px;
            }

            &:last-child {
                padding-right: 25px;
            }
        }

        td {
            background: #fff;
            color: #444a4f;
            font: 500 16px/20px var(--base-font);

            .td-menu-icon {
                display: inline-block;
                font-size: 26px;
                line-height: 20px;
                color: inherit;
            }

            .button {
                &.button-icon {
                    padding: 4px 10px;
                    font-size: 12px;
                    margin-right: 8px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .tag {
                margin-bottom: 0;
            }

            .td-icon {
                color: var(--color-primary);
                transition: 0.4s;
                font-size: 20px;

                &:hover {
                    color: var(--color-primary-light);
                }
            }

            .td-boolean {
                color: #646f79;
                font: 500 13px/20px var(--base-font);

                .mdi {
                    font-size: 16px;
                    line-height: 20px;
                    margin-right: 5px;
                    float: left;
                }
            }

            &.td-narrow {
                width: 1%;
            }

            &:first-child {
                padding-left: 25px;
            }

            &:last-child {
                padding-right: 25px;
            }
        }

        &.dim {
            td {
                background: #f6f9fc;
            }
        }

        &[ng-click]:hover {
            td,
            th {
                background: #f6f8f9;
            }
        }

        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }

    &.borderless-end {
        & > tr,
        & > thead:last-child > tr,
        & > tbody:last-child > tr {
            &:last-child {
                td,
                th {
                    border-bottom: 0;
                }
            }
        }
    }

    &.collapse-sides {
        tr {
            td,
            th {
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// table table-responsive
.table-responsive {
    @media screen and (max-width: 1000px) {
        padding: 0 0;
        border: 1px solid var(--border-color);
        background: #fff;

        &,
        & thead,
        & tbody,
        & th,
        & td,
        & tr {
            display: block;
        }

        & thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        tbody {
            tr {
                border-top: 1px solid var(--border-color);
                padding: 0 15px;

                td {
                    border: 0;
                    margin-left: 50%;
                    position: relative;
                    width: 50%;
                    text-align: left;
                    padding: 10px 0 !important;
                    border-bottom: none !important;
                    font-weight: 600 !important;
                    font-size: 13px !important;
                    line-height: 18px !important;

                    &:before {
                        border-bottom: 0;
                        content: attr(data-title);
                        display: inline-block;
                        float: left;
                        margin-left: -100%;
                        padding-bottom: 0;
                        padding-top: 3px;
                        padding-right: 10px;
                        white-space: normal;
                        width: 100%;
                        font-weight: 400;
                        color: var(--tc-muted);
                    }

                    &:after {
                        clear: both;
                        content: '';
                        display: block;
                        width: 200%;
                        height: 0;
                        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
                        margin-left: -100%;
                        top: 10px;
                        position: relative;
                    }

                    &:last-child {
                        &:after {
                            visibility: hidden;
                        }
                    }
                }

                &:first-child {
                    border-top: none;
                }
            }
        }
    }
}
