.block.block-strategy {
    display: flex;
    border-radius: 30px;
    margin-bottom: 100px;

    .block-strategy-main {
        position: relative;
        width: calc(50% - 65px);
        background-position: center 0;
        background-repeat: no-repeat;
        background-image: url("./assets/img/ellipse.png");
        background-size: contain;

        .block-strategy-arrows {
            margin-bottom: 30px;
            display: flex;

            .block-strategy-arrow {
                width: 56px;
                height: 56px;
                cursor: pointer;

                &.block-strategy-arrow-left {
                    background-image: url("./assets/img/icon-arrow-left-normal.svg");
                    margin-right: 10px;

                    &:hover {
                        background-image: url("./assets/img/icon-arrow-left-hover.svg");
                    }
                }

                &.block-strategy-arrow-right {
                    background-image: url("./assets/img/icon-arrow-right-normal.svg");

                    &:hover {
                        background-image: url("./assets/img/icon-arrow-right-hover.svg");
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .block-strategy-title {
            font: 900 56px/68px var(--base-font);
            margin-bottom: 30px;
        }

        .block-strategy-description {
            font: 400 26px/38px var(--base-font);
            margin-bottom: 30px;
        }
    }

    .block-strategy-list {
        width: 50%;
        padding-left: 65px;
        margin-left: 65px;
        display: flex;
        max-height: 500px;
        border-left: 3px dotted #E1E2E8;
        position: relative;

        .block-strategy-list-item {
            position: relative;
            padding: 30px;
            border-radius: 10px;
            background-color: #F6F7F8;
            min-width: 100%;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
            transform: scale3d(.3,.3,.3);

            &.active {
                visibility: visible;
                opacity: 1;
            }

            &:after {
                content: " ";
                position: absolute;
                background: #F6F7F8;
                width: 30px;
                height: 30px;
                top: 50%;
                left: -15px;
                transform: rotate(45deg);
            }

            .block-strategy-list-item-title {
                font: 700 30px/46px var(--base-font);
                margin-bottom: 20px;
            }

            .block-strategy-list-item-description {
                font: 400 18px/27px var(--base-font);
            }
        }

        .block-strategy-numeration {
            position: absolute;
            content: " ";
            top: 50%;
            left: -20px;
            width: 40px;
            height: 40px;
            text-align: center;
            border: 2px solid var(--border-color);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font: 700 18px/46px var(--base-font);
            background-color: #315efd;
            color: #fff;
        }
    }

    @media screen and (max-width: 1000px) {
        margin: 0;
        padding: 48px 0;
        text-align: left;
        display: flex;
        flex-direction: column;

        .block-strategy-main {
            width: 100%;
            margin-right: 0;
            padding-right: 0;
            border-right: 0;

            .block-strategy-title {
                font: 900 30px/40px var(--base-font);
                margin-bottom: 20px;
            }

            .block-strategy-description {
                font: 400 14px/21px var(--base-font);
                margin-bottom: 20px;
            }

            .block-strategy-arrows {
                display: none;
            }

            .block-strategy-separator {
                display: none;
            }

            .block-strategy-actions {
                margin: 0 0 20px 0;
                position: relative;

                .button {
                    display: inline-block;
                    width: 100%;
                }
            }

            .block-strategy-image {
                display: none;
            }
        }

        .block-strategy-list {
            width: 100%;

            .block-strategy-list-item {
                margin-bottom: 0;
            }
        }
    }
}
