.block {
    .block-subnav {
        background-color: #77b431;
    }


    &.block-profile {
        .profile-aside {
            .profile-menu {
                .profile-menu-item {
                    box-shadow: none;
                    border: solid 1px #e4e4e4;
                }
            }
        }
    }

    &.block-cms-funds {
        display: auto;

        .fund-item {
            display: inline-block;
            width: 50%;
            border: none;

            .fund-media {
                img {
                    width: auto;
                    display: block;
                }
            }

            .fund-information {
                width: auto;
                padding-left: 0;
                text-align: left;
                display: block;

                .fund-title {
                    color: var(--tc);
                }
            }
        }
    }

    &.block-pane {
        box-shadow: none;
        border: 1px solid #e4e4e4;
    }

    &.block-markdown {
        a:not(.button) {
            text-decoration: underline;
            color: #0071B8;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &.block-voucher {
        .base-card {
            box-shadow: none;
            border: 1px solid #e4e4e4;

            &.base-card-voucher {
                box-shadow: none;
                border: 1px solid #e4e4e4;
            }
        }
    }

    &.block-map_card {
        box-shadow: none;
        border: 1px solid #e4e4e4;
    }

    @media screen and (min-width: 1000px) {
        &.block-products {
            max-width: 1280px;
            margin: 0 auto 30px;
        }
    }
}

.section {
    &.section-header {
        background-position: top center;
        padding: 50px 0;
        margin: 0 auto;
        max-width: 100%;

        .header-content {
            text-align: center;

            .header-description p {
                text-align: center !important;
            }
        }
    }

    &.section-faq {
        .faq {
            width: auto;
            margin: 0;
        }
    }

    &.section-footer {
        margin-top: 0;
        padding-top: 30px;
        color: #fff;
    }

    @media screen and (min-width: 1000px) {
        &.section-header {
            height: 500px;
            padding: 75px 0;

            .header-content {
                text-align: left;
                padding: 50px 50px;
                margin-left: 50px;
                background-color: #ffffff;
                text-align: left;

                .header-description p {
                    text-align: left !important;
                }
            }
        }

        &.section-products {
            width: 100vw;
            background: #f4f5f7;
            left: calc(-50vw + 50%);
            padding: 30px 0 30px 0;
            margin: 0;

            .section-title {
                margin-top: 0;
            }
        }
    }
}

.block {
    &.block-footer {
        .block {
            &.block-markdown {
                a:not(.button) {
                    color: #fff;
                }
            }
        }

        .footer-label {
            color: #fff;
        }

        .footer-schedule {
            .schedule-label {
                color: #fff;
            }

            .schedule-value {
                color: #fff;
            }
        }
    }

    &.block-copyrights {
        border: none;
        background-color: var(--footer_background_color);
        color: #fff;
        font-size: 1rem;
        padding: 25px 0;

        .copyrights {
            color: #fff;
        }

        .links {
            a {
                color: #fff;
            }
        }
    }
}

.block {
    &.block-copyrights {
        .links {
            a {
                color: #ffffff;
            }
        }
    }
}
