@import "style-webshop-general-vars";
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

$primaryColor: #2a2a7f;
$primaryColorLight: #2a2a7f;

:root {
    // navbar
    --navbar-menu-background: #171e5f;
    --navbar-menu-item-color-hover: #e8edff;
    --navbar-menu-item-color: #ffffff;
    --navbar-search-padding: 30px 0px;
    --navbar-logo-height: 75px;

    // navbar (auth)
    --tc-auth-menu: #ffffff;
    --tc-auth-btn: #171e5f;
    --btn-auth-bg: #ffffff;
    --btn-auth-border: #171e5f;

    // navbar (start modal primary)
    --tc-start-btn: #fff;
    --btn-start-bg: #3561ff;
    --btn-start-btn: #3561ff;
    --btn-start-border: transparent;

    --bg-values: url('../img/splash-top-b.jpg') no-repeat center 100%;

    // base font
    --bf: Montserrat, Arial, Verdana;

    // text color
    --tc: #1a1919;
    --tc-var: #ee4e34;
    --tc-link: inherit;

    // base color
    --bc: #003b3b;

    // background color
    --body-background: none;

    // footer color
    --footer_background: transparent;
    --footer_color: #353535;
    --footer_color_link: #004d93;
    --footer_color_link_hover: #004d93;

    --footer_social_color: var(--footer_color);
    --footer_social_background: transparent;
    --footer_social_border_color: var(--footer_color);
    --footer_social_border_radius: var(--border-radius);

    --footer-copyright-color: var(--footer_color);
    --footer-copyright-font: 400 14px/30px var(--base-font);
    --footer-copyright-background: transparent;
    --footer-copyright-border-color: var(--border-color);
    --footer-copyright-padding: 40px;

    // text formatting
    --tf: inherit;

    // footer color
    --fbc: #171e5f;
    --fc: #ffffff;

    // displayed or not
    --fd: block;

    // product image
    --pi: 0px;

    // placeholder text color
    --ptc: #515152;

    --border_color: #dce0e0;

    --border_radius: 3px;
    --base_shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    --color_primary: #3561ff;
    --color_primary_light: #3561ff;

    --color_default: #3561ff;
    --color_default_light: #3561ff;

    // Vouchers
    --vouchers-label-color: #646f79;
    --vouchers-value-color: var(--tc);
    --vouchers-organization-color: var(--tc);

    // Label sets
    --label-set-hover-background: #{rgba($primaryColor, 0.8)};

    // Login button
    --lb: #fff;

    // Sections
    --section-padding: 0 0 30px;
    --section-background: transparent;

    --section-title-font: 700 40px/60px var(--heading-font-family);
    --section-title-align: center;

    --section-cms-padding: var(--section-padding);
    --section-cms-background: var(--section-background);
    --section-map-padding: var(--section-padding);
    --section-map-background: var(--section-background);
    --section-faq-padding: var(--section-padding);
    --section-faq-background: var(--section-background);
    --section-footer-padding: 30px 0;
    --section-footer-background: #fff;
    --section-profile-padding: var(--section-padding);
    --section-profile-background: var(--section-background);
    --section-products-padding: var(--section-padding);
    --section-products-background: var(--section-background);
    --section-breadcrumbs-padding: 0;
    --section-breadcrumbs-background: var(--section-background);
    --section-voucher-details-padding: var(--section-padding);
    --section-voucher-details-background: var(--section-background);
}
