// do not use these scss variables outside this file
$primaryColor: #305dfb;
$primaryColorLight: #305dfb;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

:root {
    // navbar
    --bg-nav: #f5f5f5;
    --btn-nav: #305dfb;
    --tc-nav-hov: #305dfb;
    --tc-nav: #282b39;
    --logo-padding: 20px 0px;
    --logo-height: 50px;

    // Outline
    --outline-width: 2px;
    --outline-offset: 1px;

    // navbar (auth) (default button)
    --tc-auth-menu: #305dfb;
    --tc-auth-btn: #305dfb;
    --btn-auth-bg: #fff;
    --btn-auth-border: #305dfb;
    --auth-avater-bg: #305dfb;
    --auth-avater-svg: #fff;

    // navbar (start modal primary)
    --tc-start-btn: #fff;
    --btn-start-bg: #305dfb;
    --btn-start-btn: #305dfb;
    --btn-start-border: transparent;

    // header background
    --bg-values: url("../img/splash-top-b.png") no-repeat 100% 0;

    // Header banner
    --header-banner-pane-banner-padding: 50px 0;
    --header-banner-pane-banner-max-width: 650px;
    --header-banner-pane-banner-background: transparent;
    --header-banner-pane-banner-border-color: initial;
    --header-banner-pane-banner-border-radius: initial;

    // base font
    --base-font: "Open Sans", arial, sans-serif;

    // heading font
    --hf: var(--base-font);

    // text color
    --tc: #282B39;
    --htc: var(--tc);
    --tc-var: inherit;
    --tc-link: inherit;
    --tc-muted: #595959;

    // base color
    --bc: #d13b3b;

    // background color
    --bg: #f3f8fe;

    --bg_2: linear-gradient(to bottom, #f3f8fe 0%, #feffff 100%);

    // footer color
    --footer_background_color: #fff;
    --footer_color: #353535;
    --footer_color_link: #004d93;
    --footer_color_link_hover: #004d93;

    --footer_social_color: var(--footer_color);
    --footer_social_background: transparent;
    --footer_social_border_color: var(--footer_color);
    --footer_social_border_radius: var(--border-radius);

    --footer-copyright-color: var(--footer_color_link);
    --footer-copyright-background: transparent;
    --footer-copyright-border-color: var(--border-color);

    // not displayed
    --footer_display: none;

    // product image
    --product-image-padding: 10px 0 0 10px;

    --border-color: #dddddd;

    --border-radius: 8px;
    --box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    --color-default: #305dfb;
    --color-default-light: #4c74ff;

    --color-danger: #e63b3b;

    // Search bar
    --color-search-icon-medium: #{$primaryColor};
    --color-search-icon-dark: #{darken($primaryColor, 10%)};
    --color-search-icon-light: #{lighten($primaryColor, 25%)};

    --search-bar-point-color: #ececec;
    --search-bar-point-radius: 0px;
    --search-bar-input-radius: var(--border-radius);

    // Dropdowns
    --dropdown-item-font: 500 13px/20px var(--base-font);
    --dropdown-item-color: #282B39;
    --dropdown-item-background: #ffffff;
    --dropdown-item-hover-color: #000000;
    --dropdown-item-hover-background: #e5e5e5;

    // Forms
    --form-control-color: #222222;
    --form-control-background: #ffffff;
    --form-control-border-color: #646464;
    --form-control-border-color-focus: #282B39;
    --form-control-placeholder-font: 400 13px/20px var(--base-font);
    --form-control-placeholder-color: #535561;
    --form-label-color: #595959;

    // Buttons
    --btn-color: #282b39;
    --btn-border-radius: calc(var(--border-radius) * .75);

    --btn-disabled-color: #616161;
    --btn-disabled-background: #e5e5e5;

    // Paginator
    --paginator-border-radius: var(--border-radius);
    --paginator-button-color: #282b39;
    --paginator-button-border: #9e9e9e;
    --paginator-button-background: #fff;
    --paginator-button-hover-color: #fff;
    --paginator-button-hover-background: #535561;
    --paginator-button-active-color: #fff;
    --paginator-button-active-background: #292b39;
    --paginator-button-disabled-color: #535561;
    --paginator-button-disabled-border: #e5e5e5;
    --paginator-button-disabled-background: #f5f5f5;

    // Labels
    --label-default-color: #fff;
    --label-default-background: #595959;

    // Label sets
    --label-set-border-radius: var(--border-radius);
    --label-set-border-color: #9e9e9e;
    --label-set-color: #272525;
    --label-set-background: #ffffff;
    --label-set-active-color: #ffffff;
    --label-set-active-background: var(--color-primary);
    --label-set-hover-color: #ffffff;
    --label-set-hover-background: #{rgba($primaryColor, .8)};
    --label-set-focus-color: #272525;
    --label-set-focus-background: #F4F5F7;

    // Sign up
    --sign_up_accent_color: #305dfb;
    --sign_up_accent_color_light: #bdcbff;
    --sign_up_link_color: #e60003;
    --sign_up_step_btns_color: #305dfb;
    --sign_up_digid_btn_bkg: #e1e7ff;
    --sign_up_digid_btn_text: #4b71ff;
    --sign_up_digid_btn_border: none;
    --sign_up_digid_btn_border_radius: 5px;
    --sign_up_loader_icon_color: #282b39;

    //- Showcase
    --showcase-aside-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
    --showcase-aside-padding: 20px;
    --showcase-aside-background: #fff;
    --showcase-aside-border: 1px solid #e5e5e5;
    --showcase-aside-border-radius: var(--border-radius);

    --showcase-item-shadow: var(--showcase-aside-shadow);
    --showcase-item-background: var(--showcase-aside-background);
    --showcase-item-border: var(--showcase-aside-border);
    --showcase-item-border-radius: var(--showcase-aside-border-radius);
    --showcase-item-hover-shadow: 2px 8px 14px 0px rgba(0, 0, 0, 0.10);
    
    --showcase-aside-button-color: var(--color-primary);
    --showcase-aside-button-border: 1px solid var(--color-primary);
    --showcase-aside-button-background: transparent;
    --showcase-aside-button-hover-color: #fff;
    --showcase-aside-button-hover-border: 1px solid var(--color-primary);
    --showcase-aside-button-hover-background: var(--color-primary);

    --showcase-fullscreen-bottom-offset: 115px;
    
    --showcase-title-font: 600 18px/30px var(--hf);
    --showcase-title-color: var(--tc);
    --showcase-title-count-color: #fff;
    --showcase-title-count-background: var(--color-primary);
    --showcase-title-count-border-radius: calc(var(--border-radius) / 2);

    // Nav item line position
    --nav-line-top: 0;
    --nav-line-bottom: auto;

    // Breadcrumbs
    --breadcrumb-size: 16px;
    --breadcrumb-color: var(--color-primary);
    --breadcrumb-color-active: #353535;
    --breadcrumb-padding: 20px;

    // Loader
    --loader-background: #f5f5f5;
    --loader-color: var(--color-primary);

    // Profile
    --profile-menu-item-color: var(--color-primary);
    --profile-menu-item-shadow: var(--box-shadow);
    --profile-menu-item-background: #ffffff;
    --profile-menu-item-border-color: transparent;
    --profile-menu-item-border-radius: var(--border-radius);
    --profile-menu-item-hover-color: #fff;
    --profile-menu-item-hover-shadow: 0 5px 20px rgba(0, 0, 0, .20);
    --profile-menu-item-hover-background: var(--color-primary);
    --profile-menu-item-hover-border-color: var(--color-primary);
    --profile-menu-item-hover-border-radius: var(--border-radius);

    // Voucher card
    --voucher-card-action-color: var(--color-primary);
    --voucher-card-action-background: transparent;
    --voucher-card-action-border-color: var(--color-primary);
    --voucher-card-action-border-radius: 0px;
    --voucher-card-action-hover-color: #fff;
    --voucher-card-action-hover-background: var(--color-primary);
    --voucher-card-action-hover-border-color: var(--color-primary);
}
