@import "style-webshop-general-vars";
@import url("https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400");

/*==========  Style Sheet - Vars  ==========*/
$primaryColor: #24a1a1;
$primaryColorLight: #24a1a1;

:root {
    // navbar
    --navbar-menu-background: #5d646f;
    --navbar-menu-item-color-hover: #c7c7c7;
    --navbar-menu-item-color: #ffffff;
    --navbar-search-padding: 30px 0px;
    --navbar-logo-height: 75px;

    // navbar (auth)
    --tc-auth-menu: #24a1a1;
    --tc-auth-btn: #fff;
    --btn-auth-bg: #24a1a1;
    --btn-auth-border: #24a1a1;

    // navbar (start modal primary)
    --tc-start-btn: #fff;
    --btn-start-bg: #24a1a1;
    --btn-start-btn: #24a1a1;
    --btn-start-border: transparent;

    --bg-values: url("../img/splash-top-b.jpg") no-repeat center 100%;

    // base font
    --base-font: "Montserrat", Arial, Verdana;

    // text color
    --tc: #1a1919;
    --tc-var: #fff;
    --tc-link: inherit;

    // heading font
    --heading-font-family: var(--base-font);
    --heading-color: #24A1A1;

    // base color
    --bc: #24a1a1;

    // background color
    --body-background: none;

    // footer color
    --footer_background: transparent;
    --footer_color: #ffffff;
    --footer_color_link: #ffffff;

    --footer-copyright-color: var(--footer_color_link);
    --footer-copyright-font: 400 14px/30px var(--base-font);
    --footer-copyright-background: #24a1a1;
    --footer-copyright-border-color: var(--border-color);
    --footer-copyright-padding: 40px;

    // displayed or not
    --footer_display: block;

    // product image
    --product-image-padding: 0px;

    // placeholder text color
    --form-control-placeholder-color: #515152;

    --border-color: #dce0e0;

    --border-radius: 0px;
    --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    --color-default: #24a1a1;
    --color-default-light: #24a1a1;

    --color-search-icon-medium: #{$primaryColor};
    --color-search-icon-dark: #{darken($primaryColor, 10%)};
    --color-search-icon-light: #{lighten($primaryColor, 25%)};

    // Label sets
    --label-set-hover-background: #{rgba($primaryColor, .8)};


    // Buttons
    --button-font: 700 16px/24px var(--base-font);
    --button-color: #282b39;
    --button-shadow: none;
    --button-decoration: none;
    --button-border-radius: calc(var(--border-radius) * 0.75);
    --button-hover-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    --button-hover-decoration: none;
    --button-disabled-color: #616161;
    --button-disabled-background: #e5e5e5;

    --button-primary-color: #fff;
    --button-primary-border: 1px solid var(--color-primary);
    --button-primary-decoration: none;
    --button-primary-background: var(--color-primary);
    --button-primary-hover-color: #fff;
    --button-primary-hover-border: 1px solid var(--color-primary-light);
    --button-primary-hover-decoration: none;
    --button-primary-hover-background: var(--color-primary-light);

    --button-primary-outline-color: var(--color-primary);
    --button-primary-outline-border: 1px solid var(--color-primary);
    --button-primary-outline-decoration: none;
    --button-primary-outline-background: transparent;
    --button-primary-outline-hover-color: #fff;
    --button-primary-outline-hover-border: 1px solid var(--color-primary);
    --button-primary-outline-hover-decoration: none;
    --button-primary-outline-hover-background: var(--color-primary);

    --button-read_more-color: #24a1a1;
    --button-read_more-border: 2px solid #24a1a1;
    --button-read_more-decoration: null;
    --button-read_more-background: #fff;
    --button-read_more-hover-color: #ffffff;
    --button-read_more-hover-border: 2px solid #24a1a1;
    --button-read_more-hover-decoration: null;
    --button-read_more-hover-background: #24a1a1;

    //- Showcase
    --showcase-fullscreen-bottom-offset: 160px;

    // Login button
    --login-button-background: #fff;


    // Sections
    --section-padding: 0 0 30px;
    --section-background: transparent;

    --section-title-font: 700 40px/60px var(--heading-font-family);
    --section-title-align: center;

    --section-cms-padding: var(--section-padding);
    --section-cms-background: var(--section-background);
    --section-map-padding: var(--section-padding);
    --section-map-background: var(--section-background);
    --section-faq-padding: var(--section-padding);
    --section-faq-background: var(--section-background);
    --section-footer-padding: 30px 0;
    --section-footer-background: #24a1a1;
    --section-profile-padding: var(--section-padding);
    --section-profile-background: var(--section-background);
    --section-products-padding: var(--section-padding);
    --section-products-background: var(--section-background);
    --section-breadcrumbs-padding: 0;
    --section-breadcrumbs-background: var(--section-background);
    --section-voucher-details-padding: var(--section-padding);
    --section-voucher-details-background: var(--section-background);
}
