// do not use these scss variables outside this file
$primaryColor: #8f1354;
$primaryColorLight: #b31869;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    // navbar
    --navbar-menu-background: #f7f8fa;
    --navbar-menu-item-color-hover: #{$primaryColor};

    // navbar (auth) (default button)
    --tc-auth-btn: #fff;
    --btn-auth-bg: #006767;
    --btn-auth-border: #006767;

    // navbar (start modal primary)
    --btn-start-bg: #{$primaryColor};
    --btn-start-border: #{$primaryColor};

    // Header banner
    --header-banner-pane-banner-padding: 40px 50px;
    --header-banner-pane-banner-max-width: 760px;
    --header-banner-pane-banner-background: #fff;
    --header-banner-pane-banner-border-radius: var(--border-radius);

    --bg_2: #fff;

    // footer color
    --footer_background_color: #eff2f5;
    --footer_color: var(--tc);
    --footer_color_link: var(--tc);
    --footer_color_link_hover: var(--tc);

    --footer_social_color: var(--color-primary);
    --footer_social_background: transparent;
    --footer_social_border_color: var(--color-primary);
    --footer_social_border_radius: 40px;

    --footer-copyright-color: #fff;
    --footer-copyright-background: #008486;
    --footer-copyright-border-color: #008486;

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    // Search bar
    --color-search-icon-medium: #b31869;
    --color-search-icon-dark: #8f1354;
    --color-search-icon-light: #bababa;

    --search-bar-point-color: var(--color-primary);
    --search-bar-point-radius: 4px;
    --search-bar-input-radius: 25px;

    // Buttons
    --btn-border-radius: 25px;

    // Label sets
    --label-set-active-background: #006767;
    --label-set-hover-background: #{rgba(#006767, 0.8)};

    // Sign up
    --sign_up_step_btns_color: var(--color-primary);

    //- Showcase
    --showcase-title-count-background: #006767;

    // Profile
    --profile-menu-item-color: var(--tc);
    --profile-menu-item-border-color: var(--border-color);

    // Voucher card
    --voucher-card-action-color: #006767;
    --voucher-card-action-border-color: #006767;
    --voucher-card-action-border-radius: 20px;
    --voucher-card-action-hover-background: #008486;
    --voucher-card-action-hover-border-color: #008486;
}
