@import "style-webshop-general-vars";

/*==========  Style Sheet - Vars  ==========*/
$primaryColor: #de286b;
$primaryColorLight: #fd5392;

:root {
    --border-color: #ebedf0;
    --border-radius: 0px;
    --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    // navbar
    --navbar-menu-background: #f5f5f5;
    --navbar-menu-item-color: #282b39;
    --navbar-menu-item-color-hover: #de286b;
    --navbar-search-padding: 0;
    --navbar-logo-height: 105px;

    // navbar (auth)
    --tc-auth-menu: #fff;
    --tc-auth-btn: #fff;
    --btn-auth-bg: #6d5ea7;
    --btn-auth-border: #6d5ea7;

    // navbar (start modal primary)
    --tc-start-btn: #fff;
    --btn-start-bg: #de286b;
    --btn-start-btn: #de286b;
    --btn-start-border: transparent;

    // header attributes
    --bg-values: url("../img/splash-top-b.png") no-repeat 100% 0;

    // base font
    --base-font: Arial, Helvetica, sans-serif;

    // text color
    --tc: #595959;
    --tc-var: #fff;
    --tc-link: inherit;

    // base color
    --bc: #de286b;

    // background color
    --body-background: none;

    // footer color
    --footer_background: transparent;
    --footer_color: #282b39;
    --footer_color_link: #de286b;
    --footer_color_link_hover: #fd5392;

    // Displayed or not
    --footer_display: block;

    // Vouchers
    --vouchers-label-color: #4c91b3;
    --vouchers-value-color: #91b845;
    --vouchers-organization-color: #4c91b3;

    // product image
    --product-image-padding: 10px 0 0 10px;

    // placeholder text color
    --form-control-placeholder-color: #515152;

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    --color-default: #c1c71e;
    --color-default-light: #eef525;

    --color-search-icon-medium: #{$primaryColor};
    --color-search-icon-dark: #{darken($primaryColor, 10%)};
    --color-search-icon-light: #{lighten($primaryColor, 25%)};

    // Labels
    --label-default-color: #fff;
    --label-default-background: #20b6ea;

    --label-primary-color: #fff;
    --label-primary-background: var(--color-primary);

    --label-danger-color: #fff;
    --label-danger-background: #549104;

    --label-success-color: #030304;
    --label-success-background: #9bbfa1;
    
    // Label sets
    --label-set-hover-background: #{rgba($primaryColor, .8)};

    //- Showcase
    --showcase-fullscreen-bottom-offset: 130px;

    // Login button
    --login-button-background: #fff;

    // Products
    --products-title-color: var(--tc);
    --products-title-hover-color: var(--tc);
    --products-text-color: var(--tc);

    // Faq
    --faq-width: 820px;
    --faq-align: center;
    --faq-header-color: #00122a;
    --faq-header-color-hover: var(--color-primary);


    // Sections
    --section-padding: 0 0 30px;
    --section-background: transparent;

    --section-title-font: 700 40px/60px var(--heading-font-family);
    --section-title-align: center;

    --section-cms-padding: var(--section-padding);
    --section-cms-background: var(--section-background);
    --section-map-padding: var(--section-padding);
    --section-map-background: var(--section-background);
    --section-faq-padding: var(--section-padding);
    --section-faq-background: var(--section-background);
    --section-footer-padding: 30px 0;
    --section-footer-background: #fff;
    --section-profile-padding: var(--section-padding);
    --section-profile-background: var(--section-background);
    --section-products-padding: var(--section-padding);
    --section-products-background: var(--section-background);
    --section-breadcrumbs-padding: 0;
    --section-breadcrumbs-background: var(--section-background);
    --section-voucher-details-padding: var(--section-padding);
    --section-voucher-details-background: var(--section-background);
}
