@import "style-webshop-general-vars";

/*==========  Style Sheet - Vars  ==========*/
$primaryColor: #000;
$primaryColorLight: #e60204;

:root {
    // navbar
    --navbar-menu-background: #191818;
    --navbar-search-background: #E4E4E4 url('./assets/img/city-skyline.svg') no-repeat bottom center / 50% 50%;
    --navbar-menu-item-color-hover: #ececec;
    --navbar-menu-item-color: #b3b3b3;
    --navbar-search-padding: 20px 0px;
    --navbar-logo-height: 90px;

    // navbar (auth)
    --tc-auth-menu: #fff;
    --tc-auth-btn: #282b39;
    --btn-auth-bg: #fff;
    --btn-auth-border: #191818;

    // navbar (start modal primary)
    --tc-start-btn: #fff;
    --btn-start-bg: #e60103;
    --btn-start-btn: #e60103;
    --btn-start-border: #e60103;

    // Search bar
    --search-bar-label-top: -18px;
    --search-bar-label-left: 0px;
    --search-bar-label-padding: 0px;
    --search-bar-label-background: transparent;

    // Buttons
    --button-primary-color: var(--tc-var);
    --button-primary-border: 1px solid var(--color-default);
    --button-primary-decoration: none;
    --button-primary-background: var(--color-default);
    --button-primary-hover-color: var(--color-default);
    --button-primary-hover-border: 1px solid var(--color-default);
    --button-primary-hover-decoration: underline;
    --button-primary-hover-background: #fff;

    --button-primary-outline-color: var(--color-primary);
    --button-primary-outline-border: 1px solid var(--color-primary);
    --button-primary-outline-decoration: none;
    --button-primary-outline-background: transparent;
    --button-primary-outline-hover-color: #fff;
    --button-primary-outline-hover-border: 1px solid var(--color-primary);
    --button-primary-outline-hover-decoration: underline;
    --button-primary-outline-hover-background: var(--color-primary);

    // sign up
    --sign_up_accent_color: #191a1c;
    --sign_up_accent_color_light: #45535e;
    --sign_up_link_color: #e60004;
    --sign_up_step_btns_color: #e60004;
    --sign_up_digid_btn_bkg: #fff;
    --sign_up_digid_btn_text: #191818;
    --sign_up_digid_btn_border: 1px solid #191818;
    --sign_up_digid_btn_border_radius: 0;

    --bg-values: none;

    // base font
    --base-font: Verdana, arial;

    // text color
    --tc: #1a1919;
    --tc-var: #fff;
    --tc-link: #2b2bff;

    // base color
    --bc: #e60003;

    // background color
    --body-background: none;

    // footer color
    --footer_background: transparent;
    --footer_color: #fff;
    --footer_color_link: #fff;
    --footer_color_link_hover: #fff;

    --footer-copyright-color: #000;
    --footer-copyright-background: #fff;

    // displayed or not
    --footer_display: block;

    // product image
    --product-image-padding: 0px;

    // placeholder text color
    --form-control-placeholder-color: #515152;

    --border-color: #dce0e0;

    --border-radius: 0px;
    --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    --color-primary: #{$primaryColor};
    --color-primary-light: #{$primaryColorLight};

    --color-default: #e60204;

    --color-search-icon-medium: #{$primaryColor};
    --color-search-icon-dark: #{darken($primaryColor, 10%)};
    --color-search-icon-light: #{lighten($primaryColor, 25%)};

    // Label sets
    --label-set-hover-background: #{rgba($primaryColor, 0.7)};

    //- Showcase
    --showcase-fullscreen-bottom-offset: 155px;

    // Login button
    --login-button-background: #fff;


    // Sections
    --section-padding: 0 0 30px;
    --section-background: transparent;

    --section-title-font: 700 40px/60px var(--heading-font-family);
    --section-title-align: center;

    --section-cms-padding: var(--section-padding);
    --section-cms-background: var(--section-background);
    --section-map-padding: var(--section-padding);
    --section-map-background: var(--section-background);
    --section-faq-padding: var(--section-padding);
    --section-faq-background: var(--section-background);
    --section-footer-padding: 30px 0;
    --section-footer-background: #e60004;
    --section-profile-padding: var(--section-padding);
    --section-profile-background: var(--section-background);
    --section-products-padding: var(--section-padding);
    --section-products-background: var(--section-background);
    --section-breadcrumbs-padding: 0;
    --section-breadcrumbs-background: var(--section-background);
    --section-voucher-details-padding: var(--section-padding);
    --section-voucher-details-background: var(--section-background);
}
