.block.block-empty {
    cursor: default;

    .empty-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;

        .empty-icon-img {
            width: 50px;
            height: 50px;
            display: flex;
            border: 1px solid transparent;
            border-radius: 50px;
            align-items: center;

            &.empty-icon-img-border {
                border-color: var(--border-color-light);
            }
        }
    }

    .empty-title {
        font: 700 16px/28px var(--base-font);
        margin: 0;
    }

    .empty-details {
        font: 500 14px/24px var(--base-font);
        margin: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .empty-actions {
        font: 500 14px var(--base-font);
        display: flex;
        padding: 15px 0 0;
        justify-content: center;
    }
}
