.block.block-attachments-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .attachment-item {
        background: #fff;
        display: flex;
        border: 1px solid #d4d9dd;
        flex-direction: row;
        padding: 5px 15px 5px 10px;
        border-radius: var(--border-radius);
        gap: 10px;

        .attachment-icon {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .mdi {
                font-size: 18px;
                line-height: 25px;
                color: #004195;
            }

            .attachment-size {
                color: #646f79;
                font: 600 13px/24px var(--base-font);
                flex: 1 0 60px;
            }
        }

        .attachment-name {
            color: #262626;
            font: 600 13px/24px var(--base-font);
            flex: 1 1 auto;
            min-width: 0;
            word-wrap: break-word;
            white-space: normal;
        }

        .attachment-date {
            font: 400 13px/24px var(--base-font);
        }

        .attachment-preview {
            display: flex;
            flex-direction: row;
            color: #262626;
            font: 500 12px/24px var(--base-font);
            gap: 5px;

            .mdi {
                font-size: 16px;
                line-height: 24px;
                height: 24px;
                color: #555;

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
}
