.block.block-fund {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    background: #fff;
    gap: 20px;

    .fund-overview {
        border-bottom: 1px solid var(--border-color);
        display: flex;
        flex-direction: row;
        padding-bottom: 25px;
        gap: 25px;

        .fund-media {
            display: flex;
            flex: 0 0 190px;

            .fund-media-img {
                display: block;
                border-radius: calc(var(--border-radius));
                width: 100%;
            }
        }

        .fund-details {
            display: grid;
            grid-template-rows: max-content;
            gap: 10px;

            .fund-header {
                display: grid;
                grid-template-columns: 1fr auto;
                gap: 20px;
                font: 500 16px/24px var(--base-font);
                align-items: center;

                .fund-name {
                    font: inherit;
                    color: #151b26;
                    margin: 0;
                }
            }

            .fund-description {
                font: 400 14px/20px var(--base-font);
                color: #646f79;
                display: flex;
                gap: 10px;
                flex-direction: column;
            }
        }
    }

    .fund-actions {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &.block-fund-compact {
        .fund-overview {
            padding-bottom: 0;
            border-bottom: none;

            .fund-media {
                flex: 0 0 150px;
            }
        }
    }
}
