.block.block-information {
    background: #fff;
    padding: 15px 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font: 400 13px/20px var(--base-font);
    margin-bottom: 15px;
    display: flex;

    .block-information-icon {
        margin: 2.5px 10px auto 0;
        color: #009ef4;
        font-size: 16px;
    }

    .block-information-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font: 500 13px/18px var(--base-font);
        color: #646f79;

        a {
            color: #009ef4;
            font-size: 13px;
            font-weight: 500;
        }
    }

    &.block-information-danger {
        background: #fcfaf6;
    }

    &.block-information-info {
        background: #009ef421;
    }
}
