@use "markdown-content";

.block.block-markdown {
    @include markdown-content.block-markdown-content();

    &.block-markdown-left {
        text-align: left !important;

        * {
            text-align: left !important;
        }
    }

    &.block-markdown-center {
        text-align: center !important;

        * {
            text-align: center !important;
        }
    }

    &.block-markdown-right {
        text-align: right !important;

        * {
            text-align: right !important;
        }
    }

    @media screen and (max-width: 1000px) {
        &.block-markdown-lg {
            font: 400 14px/22px var(--base-font) !important;
        }
    }
}
