.block.block-product {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    word-break: break-word;
    gap: 20px;

    .block-product-media {
        flex: 0 0 190px;
        border: 1px solid #d4d9dd;
        border-radius: 4px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
        }
    }

    .block-product-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .block-product-details {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .block-product-name {
            font: 600 18px/24px var(--base-font);
        }

        .block-product-price {
            font: 600 16px/22px var(--base-font);
        }
    }

    .block-product-description {
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    .block-product-separator {
        width: 100%;
        height: 1px;
        border-top: 1px solid var(--border-color);
    }

    &:last-child {
        margin-bottom: 0;
    }
}
