.block.block-file-uploader {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .uploader-droparea {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        background: #f8f8f8;
        padding: 25px 30px;
        text-align: center;
        border: 1px dashed #e5e6ec;
        border-radius: calc(var(--border-radius) / 2);
        color: #515152;

        .droparea-icon {
            margin: 0 auto;
            color: inherit;
            display: flex;
            justify-content: center;

            .mdi {
                width: 50px;
                height: 50px;
                font-size: 24px;
                padding: 10px;
                flex-direction: column;
                justify-content: center;
                border: 1px solid var(--color-primary);
                color: var(--color-primary);
                margin: 0 auto;
            }
        }

        .droparea-title {
            font: 500 16px/26px var(--base-font);
            justify-content: center;
            color: inherit;

            strong {
                font-weight: 700;
            }

            small {
                font-size: 14px;
            }

            &.droparea-title-required {
                strong {
                    &:after {
                        content: '*';
                        color: #ff5548;
                        font: inherit;
                        margin-left: 2px;
                    }
                }
            }
        }

        .droparea-button {
            display: flex;
            justify-content: center;
        }

        .droparea-size {
            display: flex;
            justify-content: center;
            font: 600 13px/18px var(--base-font);
            color: inherit;
        }

        .droparea-hidden-input {
            display: none;
        }

        &.is-dragover {
            background: white;
            border-color: silver;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .uploader-files {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .uploader-files-title {
            display: flex;
            font: 700 16px/24px var(--base-font);
            flex-direction: row;
            padding: 0 0 5px;
            gap: 6px;

            .uploader-files-title-count {
                padding: 2px 6px;
                background: #e5e5e5;
                border-radius: var(--border-radius);
                font: 600 14px/20px var(--base-font);
            }
        }
    }

    &.block-file-uploader-compact {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;

        .droparea-icon,
        .droparea-title,
        .droparea-hidden-input {
            display: none;
        }

        .uploader-droparea {
            display: flex;
            padding: 0;
            background: none;
            border: none;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .droparea-max-limit {
                color: #353535;
                font-size: 11px;
                font-weight: 400;
                line-height: 11px;
                font-family: var(--base-font), serif;

                &::before {
                    content: '*';
                    color: #ed133c;
                    padding-right: 3px;
                }
            }
        }

        .uploader-files {
            max-width: 100%;
        }
    }

    &.block-file-uploader-inline {
        max-width: 100%;
        display: flex;

        .droparea-icon,
        .droparea-title,
        .droparea-hidden-input {
            display: none;
        }

        .uploader-droparea {
            display: flex;
            padding: 0;
            background: none;
            border: none;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .droparea-max-limit {
                color: #353535;
                font-size: 11px;
                font-weight: 400;
                line-height: 11px;
                font-family: var(--base-font), serif;

                &::before {
                    content: '*';
                    color: #ed133c;
                    padding-right: 3px;
                }
            }
        }

        .uploader-files {
            padding: 15px 20px;
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            width: 100%;
            flex-direction: column;
            gap: 5px;
            background-color: #fbfbfb;
        }
    }

    .file-item-error {
        font: 400 13px/20px var(--base-font);
    }

    @media (max-width: 991px) {
        .uploader-droparea {
            border: none;
            background: none;
            padding: 0 0;

            .droparea-icon,
            .droparea-title {
                display: none;
            }
        }
    }
}
