@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 400;
    src:
        url('./assets/fonts/nunito-sans/NunitoSans-Regular.woff2') format('woff2'),
        url('./assets/fonts/nunito-sans/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NunitoSans';
    font-style: italic;
    font-weight: 400;
    src:
        url('./assets/fonts/nunito-sans/NunitoSans-Italic.woff2') format('woff2'),
        url('./assets/fonts/nunito-sans/NunitoSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 500;
    src:
        url('./assets/fonts/nunito-sans/NunitoSans-Medium.woff2') format('woff2'),
        url('./assets/fonts/nunito-sans/NunitoSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 600;
    src:
        url('./assets/fonts/nunito-sans/NunitoSans-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/nunito-sans/NunitoSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 700;
    src:
        url('./assets/fonts/nunito-sans/NunitoSans-Bold.woff2') format('woff2'),
        url('./assets/fonts/nunito-sans/NunitoSans-Bold.ttf') format('truetype');
}
