.block.block-fund-request {
    .fund-request-records {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .fund-request-record {
        cursor: default;
        border: var(--showcase-item-border);
        border-radius: var(--border-radius);
        box-shadow: var(--showcase-item-shadow);
        margin: 0 0;

        .fund-request-record-header {
            display: flex;
            flex-direction: row;
            padding: 15px;
            align-items: center;
            border-bottom: 1px solid var(--border-color);

            .fund-request-record-header-main {
                gap: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex: 1 0 0;
                align-self: stretch;

                .fund-request-record-header-icon {
                    display: block;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    align-items: center;
                    border-radius: calc(var(--border-radius) / 2);
                    background: #f4f5f7;
                    transition:
                        color 0.4s,
                        background-color 0.4s;
                }

                .fund-request-record-header-content {
                    display: flex;
                    flex: 1 1 auto;
                    flex-direction: column;

                    .fund-request-record-header-title {
                        display: flex;
                        flex: 1 1 auto;
                        flex-direction: row;
                        margin: 0 0;
                        font: 700 16px/20px var(--base-font);

                        .fund-request-record-header-title-dot {
                            padding: 0 5px;
                            color: #d4d9dd;
                        }
                    }

                    .fund-request-record-header-subtitle {
                        font: 400 13px/18px var(--base-font);
                        color: #595959;
                    }
                }
            }

            .fund-request-record-header-actions {
                display: flex;
                flex: 0 0 auto;
                flex-direction: row;
                gap: 10px;
                align-items: center;

                .fund-request-record-header-view {
                    appearance: none;
                    padding: 0 0;
                    font: 600 13px/18px var(--base-font);
                    color: #282b39;
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    cursor: pointer;
                    border: none;
                    background: none;

                    .fund-request-record-header-view-arrow {
                        transform: rotate(-90deg);
                        color: #dbdcdb;
                        font-size: 25px;
                        line-height: 25px;
                        transition: all 0.3s;
                    }
                }
            }

            .label {
                &:not(:last-child):not(:last-of-type) {
                    margin: 0;
                }

                .label-text {
                    display: inline-block;
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }

        .fund-request-record-section {
            display: flex;
            flex-direction: column;
        }

        &.fund-request-record-open {
            border-color: #848484;

            .fund-request-record-header {
                .fund-request-record-header-icon {
                    background: #282b39;
                    color: #fff;
                }

                .fund-request-record-header-view {
                    .fund-request-record-header-view-arrow {
                        transform: rotate(0deg);
                    }
                }
            }
        }

        &.fund-request-record-inline {
            border: none;
        }
    }

    .fund-request-props {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        width: 100%;

        .fund-request-prop {
            display: flex;
            flex-direction: column;
            gap: 5px;
            flex: 0 0 33.33%;

            .fund-request-prop-label,
            .fund-request-prop-value {
                display: block;
                font: 600 14px/20px var(--base-font);
            }

            .fund-request-prop-label {
                color: #646f79;
            }

            .fund-request-prop-value {
                color: #303030;
            }
        }
    }

    .block-payouts-list {
        margin: 0 0 10px;
    }

    @media screen and (max-width: 1000px) {
        .fund-request-record {
            overflow: hidden;

            .fund-request-record-header {
                padding: 0;
                flex-direction: column;

                .fund-request-record-header-main {
                    padding: 15px;
                    border-bottom: 1px solid var(--border-color);
                }

                .fund-request-record-header-actions {
                    padding: 15px;
                    background: #fbfbfb;
                    width: 100%;
                    justify-content: space-between;
                }
            }

            &.fund-request-record-inline {
                .fund-request-record-header {
                    .fund-request-record-header-main {
                        border-bottom: none;
                        padding-bottom: 10px;
                    }

                    .fund-request-record-header-actions {
                        padding-top: 0;
                        padding-left: 65px;
                        background: transparent;
                    }
                }
            }

            .label {
                padding: 0 3px;
                font-size: 11px;
                font-weight: 600;
            }
        }

        .fund-request-props {
            flex-direction: column;
        }

        .block.block-file-uploader.block-file-uploader-compact .uploader-droparea {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;

            .droparea-button {
                width: 100%;

                .button {
                    width: 100%;
                }
            }
        }
    }
}
