.block.block-banner {
    --wrapper-banner-width: var(--wrapper-width);
    --wrapper-banner-padding: var(--wrapper-padding);
    margin: 0 0 30px;

    @media screen and (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;

        .banner-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex: 0 0 var(--wrapper-banner-width);

            .banner-container-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex: 0 1 var(--wrapper-banner-width);
                padding: 120px 80px;

                .banner-container-wrapper-pane {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    flex: 0 0 60%;
                    padding: 40px 50px;
                    gap: 20px;
                    border-radius: var(--border-radius);
                    cursor: default;

                    .banner-title {
                        font: 700 48px/64px var(--base-font);
                        margin: 0 0 0;
                    }

                    .banner-description {
                        font: 400 20px/30px var(--base-font);
                        margin: 0 0 0;

                        p:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .banner-actions {
                        .banner-actions-button {
                            &.banner-actions-button-white {
                                outline-offset: -1px !important;
                            }
                        }
                    }
                }
            }
        }

        .banner-background {
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            transform: translate(-50%);
            width: var(--wrapper-banner-width);
            background-size: cover;
            background-position: center;
            z-index: -1;

            .banner-background-pattern {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-size: 10px;
            }
        }

        &.block-banner-position-center {
            .banner-container {
                .banner-container-wrapper {
                    .banner-container-wrapper-pane {
                        flex: 0 0 100%;
                    }
                }
            }
        }

        &.block-banner-position-right {
            .banner-container {
                .banner-container-wrapper {
                    justify-content: flex-end;
                }
            }
        }

        &.block-banner-collapse {
            .banner-container {
                .banner-container-wrapper {
                    padding: 0 0;

                    .banner-container-wrapper-pane {
                        flex: 0 0 50%;
                        border-radius: 0;
                        padding: 70px 80px;
                    }
                }
            }

            .banner-background {
                width: calc(var(--wrapper-banner-width) / 2);
                transform: translate(0);
            }

            &.block-banner-position-center {
                .banner-container {
                    .banner-container-wrapper {
                        .banner-container-wrapper-pane {
                            flex: 0 0 100%;
                            padding-right: 300px;
                        }
                    }
                }

                &:not(.block-banner-wide) {
                    .banner-background {
                        display: none;
                    }
                }
            }

            &.block-banner-position-right {
                .banner-background {
                    transform: translate(-100%);
                }
            }
        }

        &.block-banner-wide {
            .banner-container {
                flex: 0 0 100%;

                .banner-container-wrapper {
                    padding: 75px var(--wrapper-banner-padding);
                }
            }

            .banner-background {
                width: 100%;
            }

            &.block-banner-collapse {
                &.block-banner-position-left {
                    .banner-container {
                        .banner-container-wrapper {
                            .banner-container-wrapper-pane {
                                padding-left: 0;

                                &:before {
                                    content: '';
                                    left: 0;
                                    right: 50%;
                                    top: 0;
                                    bottom: 0;
                                    background: inherit;
                                    display: block;
                                    position: absolute;
                                    z-index: -1;
                                }
                            }
                        }
                    }

                    .banner-background {
                        width: 50%;
                        display: block;
                        transform: translate(0%);
                    }
                }

                &.block-banner-position-center {
                    .banner-background {
                        width: 100%;
                        display: block;
                        transform: translate(-50%);
                    }
                }

                &.block-banner-position-right {
                    .banner-container {
                        .banner-container-wrapper {
                            .banner-container-wrapper-pane {
                                padding-right: 0;

                                &:before {
                                    content: '';
                                    left: 50%;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    background: inherit;
                                    display: block;
                                    position: absolute;
                                    z-index: -1;
                                }
                            }
                        }
                    }

                    .banner-background {
                        width: 50%;
                        display: block;
                        transform: translate(-100%);
                    }
                }
            }
        }

        &.block-banner-transparent {
            .banner-container {
                .banner-container-wrapper {
                    .banner-container-wrapper-pane {
                        padding: 0 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 999px) {
        display: flex;
        flex-direction: column;
        position: relative;

        .banner-background {
            height: 240px;
            width: 100%;
            background-size: cover;
            background-position: center;
            position: relative;

            .banner-background-pattern {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-size: 10px;
            }
        }

        .banner-container {
            .banner-container-wrapper {
                .banner-container-wrapper-pane {
                    padding: 40px 25px 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 10px;

                    .banner-title {
                        margin: 0 0;
                        font: 700 30px/40px var(--base-font);
                        text-align: left;
                    }

                    .banner-description {
                        margin: 0 0;
                        font: 400 14px/21px var(--base-font);

                        * {
                            text-align: left !important;
                        }
                    }

                    .banner-actions {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                    }
                }
            }
        }

        &.block-banner-background-empty {
            .banner-background {
                display: none;
            }
        }

        &.block-banner-transparent {
            .banner-background {
                z-index: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            .banner-container {
                z-index: 1;
            }
        }

        &.block-banner-background-mobile-hide {
            .banner-background {
                display: none;
            }
        }
    }

    @media screen and (max-width: 420px) {
        .banner-container {
            .banner-container-wrapper {
                .banner-container-wrapper-pane {
                    .banner-actions {
                        .banner-actions-button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
