.block.block-warning {
    display: flex;
    flex-direction: row;
    background-color: #fffceb;
    padding: 15px;
    gap: 15px;

    .block-warning-icon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 16px;
        line-height: 24px;
        flex: 0 0 15px;
    }

    .block-warning-content {
        display: flex;
        font: 400 13px/18px var(--base-font);
    }
}