.block.block-sign_up-provider {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    cursor: default;
    align-items: center;

    .sign_up-overview {
        display: flex;
        padding-right: 110px;
        flex: 0 0 50%;
    }

    .sign_up-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 0 0 50%;
        pointer-events: none;

        .sign_up-image {
            img {
                display: block;
                width: 100%;
                margin-bottom: -10px;
            }
        }
    }
    
    @media screen and (max-width: 1000px) {
        flex-direction: column;
        gap: 20px;

        .sign_up-overview {
            padding: 0 0;
            width: 100%;
        }

        .sign_up-images {
            width: 100%;

            .sign_up-image {
                margin-right: 15px;
            }
        }
    }
}