.block.block-product-categories {
    flex-direction: column;
    text-align: center;
    display: flex;
    gap: 0;
    cursor: default;
    padding: var(--section-padding);

    .product-categories-shape {
        display: flex;

        svg {
            display: block;
            width: 100%;
            height: fit-content;

            path {
                fill: var(--color-primary);
                opacity: 0.05;
                display: block;
            }
        }
    }

    .product-categories-content {
        flex-direction: column;
        text-align: center;
        display: flex;
        gap: 20px;
        position: relative;
        padding: 40px 0;

        .wrapper {
            flex-direction: inherit;
            text-align: inherit;
            display: inherit;
            gap: inherit;
        }

        &:after {
            content: '';
            opacity: 0.05;
            background: var(--color-primary);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    .product-categories-title {
        font: 700 40px/54px var(--base-font);
        color: #1a1a1a;
        margin: 0;
    }

    .product-categories-description {
        font: 400 18px/24px var(--base-font);
        color: #222;
        margin: 0;
    }

    .product-category-items {
        --gap: 16px;
        --items: 6;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: calc(var(--gap) * 2) var(--gap);
        justify-content: center;
        padding: 20px 0;
        list-style: none;
        margin: 0;

        .product-category-item {
            padding: 25px 10px;
            gap: 5px;
            display: flex;
            flex-direction: column;
            flex: 0 0 calc(calc(100% / var(--items)) - calc(calc(var(--gap) * calc(var(--items) - 1)) / var(--items)));
            border-radius: min(var(--border-radius), 16px);
            filter: brightness(1);
            color: var(--button-primary-color);
            box-shadow: var(--button-shadow);
            background: var(--button-primary-background);
            transition: 0.4s;
            cursor: pointer;
            min-width: 0;
            justify-content: center;
            text-decoration: none;
            outline: none;

            .product-category-item-icon {
                color: #fff;

                .mdi {
                    font-size: 50px;
                    line-height: 50px;
                }
            }

            .product-category-item-name {
                font: 700 15px/22px var(--base-font);
                letter-spacing: -0.2px;
                color: #fff;
                margin: 0;
            }

            &:hover,
            &:focus-visible {
                color: var(--button-primary-hover-color);
                box-shadow: var(--button-hover-shadow);
                background: var(--button-primary-hover-background);
            }
        }

        &.product-category-items-no-icons {
            --items: 5;

            .product-category-item {
                padding: 20px 10px;

                .product-category-item-name {
                    font: 700 16px/22px var(--base-font);
                }
            }
        }
    }

    @media screen and (max-width: 1400px) {
        .product-categories-content {
            gap: 10px;
            padding: 15px 0;
        }

        .product-category-items {
            --items: 5;

            .product-category-item {
                .product-category-item-icon {
                    .mdi {
                        font-size: 32px;
                        line-height: 32px;
                    }
                }

                .product-category-item-name {
                    font: 700 14px/20px var(--base-font);
                }
            }

            &.product-category-items-no-icons {
                --items: 4;

                .product-category-item {
                    .product-category-item-name {
                        font: 700 15px/20px var(--base-font);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .product-categories-title {
            font: 700 24px/32px var(--base-font);
        }

        .product-categories-content {
            gap: 8px;
            padding: 15px 0;
        }

        .product-category-items {
            --items: 4;
            gap: var(--gap) var(--gap);

            .product-category-item {
                padding: 20px 10px;
            }

            &.product-category-items-no-icons {
                --items: 3;

                .product-category-item {
                    padding: 15px 15px;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        .product-categories-title {
            font: 700 22px/30px var(--base-font);
        }

        .product-categories-description {
            font: 400 14px/18px var(--base-font);
            margin: 0 0 15px;
        }

        .product-category-items {
            --items: 2;
            --gap: 12px;
            gap: var(--gap) var(--gap);
            padding: 0;
            justify-content: flex-start;

            .product-category-item {
                padding: 10px 15px;
                flex-direction: row;
                gap: 12px;
                align-items: center;
                text-align: left;
                justify-content: flex-start;

                .product-category-item-icon {
                    flex: 0 0 32px;
                }
            }

            &.product-category-items-no-icons {
                --items: 1;

                .product-category-item {
                    justify-content: center;
                }
            }
        }
    }
}
