.block.block-error-page {
    display: flex;
    flex-direction: column;
    height: 60vh;

    & > .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
        padding-bottom: 100px;

        .page-not-found-title {
            font: 600 164px/189px var(--base-font);
            color: #d0d0d0;
        }

        .page-not-found-subtitle {
            font: 600 26px/30px var(--base-font);
            color: #303030;
            margin-bottom: 30px;
        }
    }
}
