.block.block-faq {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    gap: 30px;

    .block-faq-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .block-faq-header {
        max-width: 100%;
        width: 1080px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .block-faq-title {
            color: #222;
            font: 700 22px/30px var(--base-font);
            margin: 0 0;
        }

        .block-faq-subtitle {
            color: #353535;
            font: 400 18px/24px var(--base-font);
            margin: 0 0;
        }
    }

    .faq-item {
        background: #fff;
        border: 1px solid var(--border-color);
        position: relative;
        box-shadow: var(--box-shadow);
        transition: 0.4s;
        max-width: 100%;
        width: 1080px;
        border-radius: var(--border-radius);

        .faq-item-header {
            display: flex;
            padding: 15px 19px 15px 25px;
            position: relative;
            transition: 0.4s;
            cursor: pointer;
            flex-direction: row;
            gap: 15px;
            align-items: flex-start;
            flex: 0 0 72px;

            .faq-item-title {
                display: flex;
                flex: 1 1 auto;
                font: 700 18px/26px var(--base-font);
                color: #222222;
                margin: 0 0;
                align-self: center;
                padding-right: 60px;
            }

            .faq-item-chevron {
                display: flex;
                flex: 0 0 32px;
                height: 32px;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--border-color);
                border-radius: 16px;
                transition:
                    0.4s color,
                    0.4s background-color;

                .mdi {
                    font-size: 16px;
                }
            }

            .faq-item-chevron {
                border: 1px solid #eceff0;
                background-color: #eceff0;

                .mdi {
                    font-size: 24px;
                }
            }
        }

        .faq-item-content {
            font: 400 16px var(--base-font);
            padding: 0 120px 25px 25px;
            color: #222222;
            display: none;
            cursor: default;

            a {
                color: var(--tc-link);
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.active {
            .faq-item-content {
                display: block;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        gap: 20px;

        .block-faq-header {
            margin-bottom: 5px;

            .block-faq-title {
                font: 700 16px/24px var(--base-font);
            }

            .block-faq-subtitle {
                font: 400 12px/20px var(--base-font);
            }
        }

        .faq-item {
            .faq-item-header {
                padding: 15px 14px 15px 15px;

                .faq-item-title {
                    font: 600 14px/20px var(--base-font);
                    padding-right: 0;
                }

                .faq-item-chevron {
                    flex: 0 0 20px;
                    height: 20px;

                    .mdi {
                        font-size: 17px;
                    }
                }
            }

            .faq-item-content {
                padding: 0 30px 15px 15px;
                font: 400 14px var(--base-font);
            }
        }
    }
}
