.block.block-faq {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;

    .faq-item {
        background: #fff;
        border: 1px solid var(--border-color);
        border-bottom: none;
        position: relative;
        box-shadow: var(--box-shadow);
        transition: 0.4s;
        max-width: 100%;
        width: 1080px;

        .faq-item-header {
            display: flex;
            padding: 15px 19px 15px 20px;
            position: relative;
            transition: 0.4s;
            cursor: pointer;
            flex-direction: row;
            gap: 15px;
            align-items: flex-start;
            flex: 0 0 72px;

            .faq-item-title {
                display: flex;
                flex: 1 1 auto;
                font: 500 18px/26px var(--base-font);
                color: #222222;
                margin: 0 0;
                align-self: center;
                padding-right: 60px;
            }

            .faq-item-icon,
            .faq-item-chevron {
                display: flex;
                flex: 0 0 32px;
                height: 32px;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--border-color);
                border-radius: 16px;
                transition:
                    0.4s color,
                    0.4s background-color;

                .mdi {
                    font-size: 16px;
                }
            }

            .faq-item-chevron {
                border: 1px solid #eceff0;
                background-color: #eceff0;

                .mdi {
                    font-size: 24px;
                }
            }
        }

        .faq-item-content {
            font: 400 16px var(--base-font);
            padding: 0 120px 25px 67px;
            color: #222222;
            display: none;
            cursor: default;

            a {
                color: var(--tc-link);
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.active {
            .faq-item-header {
                .faq-item-icon {
                    background: #222222;
                    color: #ffffff;
                }
            }

            .faq-item-content {
                display: block;
            }
        }

        &:first-of-type {
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
        }

        &:last-of-type {
            border-bottom: 1px solid var(--border-color);
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }

    @media screen and (max-width: 1000px) {
        .faq-item {
            .faq-item-header {
                padding: 15px 14px 15px 15px;

                .faq-item-title {
                    font: 600 14px/20px var(--base-font);
                    padding-right: 0;
                }

                .faq-item-icon,
                .faq-item-chevron {
                    flex: 0 0 24px;
                    height: 24px;
                }
            }

            .faq-item-content {
                padding: 0 30px 20px 55px;
                font: 400 14px var(--base-font);
            }
        }
    }
}
