.block.block-bookmark-toggle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #ffff;
    line-height: 42px;
    text-align: center;
    color: #282b39;
    z-index: 1;
    transition:
        color 0.4s,
        background-color 0.4s;
    border: 1px solid var(--border-color);
    cursor: pointer;

    .mdi {
        line-height: 20px;
        font-size: 20px;
        height: 20px;
        display: inline-flex;
    }

    &:hover {
        color: #ed133c;
    }

    &.active {
        color: #ed133c;
    }

    &.block-bookmark-toggle-compact {
        line-height: 20px;
        height: 20px;
        width: 20px;
        border: none;
        padding: 0;
    }
}
