h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oranda', sans-serif !important;
}

.block {
    &.block-profile {
        .profile-aside {
            .profile-menu {
                .profile-menu-item {
                    box-shadow: none;
                    border: solid 1px #e4e4e4;
                }
            }
        }
    }

    &.block-pane {
        box-shadow: none;
        border: 1px solid #e4e4e4;
    }

    &.block-markdown {
        color: #212121;

        a:not(.button) {
            color: #950022;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &.block-voucher {
        .base-card {
            box-shadow: none;
            border: 1px solid #e4e4e4;

            &.base-card-voucher {
                box-shadow: none;
                border: 1px solid #e4e4e4;
            }
        }
    }

    &.block-map_card {
        box-shadow: none;
        border: 1px solid #e4e4e4;
    }

    @media screen and (min-width: 1000px) {
        &.block-products,
        &.block-subsidies {
            max-width: 1280px;
            margin: 0 auto 30px;
        }
    }
}

.section {
    .section-title {
        text-align: left;
    }

    &.section-faq {
        .faq {
            width: auto;
            margin: 0;
        }
    }

    &.section-footer {
        margin-top: 0;
        padding-top: 30px;
        color: #fff;

        .block.block-markdown {
            color: #fff;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font: 400 22px/32px 'Oranda';
            }

            a:not(.button) {
                color: #fff;
            }
        }
    }

    @media screen and (min-width: 1000px) {
        &.section-products {
            width: 100vw;
            background: #f5f5f5;
            left: calc(-50vw + 50%);
            padding: 30px 0 30px 0;
            margin: 0;

            .section-title {
                margin-top: 0;
            }
        }
    }
}

.block {
    &.block-footer {
        .footer-label {
            color: #fff;
        }

        .footer-schedule {
            .schedule-label {
                color: #fff;
            }

            .schedule-value {
                color: #fff;
            }
        }
    }

    &.block-copyrights {
        border: none;
        background-color: #212121;
        color: #fff;
        font-size: 1rem;
        padding: 25px 0;

        .copyrights {
            color: #fff;
        }

        .links {
            a {
                color: #fff;
            }
        }
    }
}
